force-app/main/default/flows/Auto_update_CC_Account_to_Contact_Shipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Agent</name>
        <label>Check Agent</label>
        <locationX>1145</locationX>
        <locationY>824</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCNotNull02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentsContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RecordType</targetReference>
            </connector>
            <label>CCNotNull02</label>
        </rules>
        <rules>
            <name>AccChange02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RecordType</targetReference>
            </connector>
            <label>AccChange02</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consignee</name>
        <label>Check Consignee</label>
        <locationX>993</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Check_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCNotNull01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__Cnee__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConsigneesContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consignee_Contact</targetReference>
            </connector>
            <label>CCNotNull01</label>
        </rules>
        <rules>
            <name>AccChange01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__Cnee__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__Cnee__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consignee_Contact</targetReference>
            </connector>
            <label>AccChange01</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType</label>
        <locationX>1371</locationX>
        <locationY>825</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Import_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InAir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Contact</targetReference>
            </connector>
            <label>Import Record Type</label>
        </rules>
        <rules>
            <name>Export_Record_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OutAir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_Contact_0</targetReference>
            </connector>
            <label>Export Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shipper</name>
        <label>Check Shipper</label>
        <locationX>875</locationX>
        <locationY>493</locationY>
        <defaultConnector>
            <targetReference>Check_Consignee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCNotNull00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippersContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipper_Contact</targetReference>
            </connector>
            <label>CCNotNull00</label>
        </rules>
        <rules>
            <name>AccChange00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipper_Contact</targetReference>
            </connector>
            <label>AccChange00</label>
        </rules>
    </decisions>
    <description>Auto update CC information from Account to Contact&apos;s field in Shipment for Shipper/ Consignee/ Agent</description>
    <environments>Default</environments>
    <interviewLabel>Auto update CC Account to Contact Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto update CC Account to Contact Shipment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Agent_Contact</name>
        <label>Agent Contact</label>
        <locationX>1234</locationX>
        <locationY>1088</locationY>
        <inputAssignments>
            <field>AgentsContacts__c</field>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Agent_Contact_0</name>
        <label>Agent Contact 0</label>
        <locationX>1513</locationX>
        <locationY>1092</locationY>
        <inputAssignments>
            <field>AgentsContacts__c</field>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC_for_EXP__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Consignee_Contact</name>
        <label>Consignee Contact</label>
        <locationX>895</locationX>
        <locationY>822</locationY>
        <connector>
            <targetReference>Check_Agent</targetReference>
        </connector>
        <inputAssignments>
            <field>ConsigneesContacts__c</field>
            <value>
                <elementReference>$Record.clofor_com_cfs__Cnee__r.CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Shipper_Contact</name>
        <label>Shipper Contact</label>
        <locationX>759</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Check_Consignee</targetReference>
        </connector>
        <inputAssignments>
            <field>ShippersContacts__c</field>
            <value>
                <elementReference>$Record.clofor_com_cfs__shipper__r.CC__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>757</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>Check_Shipper</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>clofor_com_cfs__shipper__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__Cnee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__DeliveryAgent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
