force-app/main/default/flows/clofor_com_cfs__Full_Copy_Partical_Copy_SHIPMENT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddBillingstoCollectionVariable</name>
        <label>Add Billings to Collection Variable</label>
        <locationX>1018</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>VarBillingsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBilling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_with_to_Copy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddBillingstoCollectionVariable_0</name>
        <label>Add Billings to Collection Variable</label>
        <locationX>1370</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>VarBillingsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBilling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AirExportRecordType</name>
        <label>Air Export Record Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAirExportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AirImportRecordType</name>
        <label>Air Import Record Type</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAirImportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_value_for_Billing</name>
        <label>Assign Single value for Billing</label>
        <locationX>1018</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ADVANCE_PAYMENT_ON_BEHALF_OF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ADVANCE_PAYMENT_ON_BEHALF_OF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_BuyInAfter_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AM_BuyInAfter_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_BuyInAfter_allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AM_BuyInAfter_allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_BuyInBefore_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AM_BuyInBefore_Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_MCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AM_MCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_Buyinbefore_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AM_Buyinbefore_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_MasterID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AM_MasterID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_MasterMeisaiID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AM_MasterMeisaiID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ANKEN_CBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ANKEN_CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AdjustedAfterClosingBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AdjustedAfterClosingBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AdjustedAfterClosingSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AdjustedAfterClosingSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AdvancePaymentOnBehalfOfOurCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AdvancePaymentOnBehalfOfOurCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AmountBuyingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AmountBuyingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountSellingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AmountSellingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountSellingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AmountSellingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ApprovaStatusForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ApprovaStatusForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Ararigaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Ararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BY_PASS_VALIDATION_RULE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BY_PASS_VALIDATION_RULE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BadDebtAging__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BadDebtAging__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BadDebtCheckBox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BadDebtCheckBox__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BankAccountForReceiving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BankAccountForReceiving__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BeneficiaryBuyingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BeneficiaryBuyingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Bikou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Bikou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BillDataUpdateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BillDataUpdateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BillNameForInternal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BillNameForInternal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyInTaxAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyInTaxAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyTaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyTaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyingCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingDebitAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyingDebitAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingVATCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyingVATCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__BuyingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ChargeUnitFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ChargeUnitFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ChargeUnitInPrint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ChargeUnitInPrint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CollectDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__CollectDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ContainerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ContainerID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ContainerSizeFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ContainerSizeFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ContainerSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ContainerSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Cost_Allocation_Catetory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Cost_Allocation_Catetory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__CurrencyBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CurrencyConversionBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__CurrencyConversionBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CurrencyConversionSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__CurrencyConversionSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__DataUpdateStatusBillToQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__DataUpdateStatusBillToQL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateBuyingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRateBuyingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateBuyingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRateBuyingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateIDVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRateIDVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRateID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateSellingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRateSellingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateSellingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRateSellingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRequiredForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRequiredForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRequiredForSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ExchangeRequiredForSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__House_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__House_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__IS_DESTINATION_A_BROKER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__IS_DESTINATION_A_BROKER__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__InsatuyouSyohinEng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__InsatuyouSyohinEng__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__InsatuyouSyohin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__InsatuyouSyohin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoice_Destination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Invoice_Destination_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoiceto_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Invoiceto_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__KawaseBay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__KawaseBay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__KawaseSel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__KawaseSel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Last_Sent_Uncollected_Charge_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Last_Sent_Uncollected_Charge_Reminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__MASTER_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__MASTER_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PROFIT_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PROFIT_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerCreditJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerCreditJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerCredit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerCredit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerDebitJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerDebitJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerDebit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerDebit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisanUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerSeisanUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PartnerSeisan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PayDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PayDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PaymentTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PaymentTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PricingRecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PricingRecordType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PrintFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PrintFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProductSyobunrui__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ProductSyobunrui__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProductTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ProductTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitIncludeTaxLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ProfitIncludeTaxLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ProfitIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitRatioIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ProfitRatioIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitRatioIncludeTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ProfitRatioIncludeTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitRatioUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ProfitRatioUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__QuoteLineID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__QuoteLineID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Recordtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Recordtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__RiekirituMisei__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__RiekirituMisei__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SalesAccountedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SalesAccountedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SeikyuBangou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SeikyuBangou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SeikyusakiTantosya__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SeikyusakiTantosya__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Seikyusaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Seikyusaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellInTaxAmountJPY_NoRound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellInTaxAmountJPY_NoRound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellInTaxAmount_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellInTaxAmount_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingCreditAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellingCreditAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellingDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingVATCreditAccountingcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellingVATCreditAccountingcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SellingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Selling_Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Selling_Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Selling_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Selling_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Selling_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Selling_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SerchSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SerchSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Shiiresaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Shiiresaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SiharaisakiSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__SiharaisakiSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Suryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Suryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Tariff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Tariff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__TaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__TaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TorihikisakiLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__TorihikisakiLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__UNPAID_BALANCE_OF_BUYING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__UNPAID_BALANCE_OF_BUYING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__UNPAID_BALANCE_OF_SELLING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__UNPAID_BALANCE_OF_SELLING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__USDTaxAdjustmentSell__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__USDTaxAdjustmentSell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__USDTaxAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__USDTaxAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Uncollected_Charge_Reminder_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Uncollected_Charge_Reminder_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__VAT_INVOICE_TO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__VAT_INVOICE_TO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__buying_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__buying_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__buying_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__buying_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__curr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__curr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__selling_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__selling_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__selling_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__selling_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkDefaultTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkDefaultTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkPP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayBaseDateInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkPayBaseDateInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayBaseDatePayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkPayBaseDatePayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayConditionInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkPayConditionInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayConditionPayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkPayConditionPayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSBS2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkSBS2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSBS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkSBS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSeikyuSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkSeikyuSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkShireSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkShireSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSuryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkSuryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkTaxFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__wkTaxFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PaymentToRelationshipType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PaymentToRelationshipType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ServiceNameInConsolBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__ServiceNameInConsolBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CountOfOfConnectedTrxPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__CountOfOfConnectedTrxPlan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingIncTaxFCYInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AmountBuyingIncTaxFCYInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingIncTaxLocalInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__AmountBuyingIncTaxLocalInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoice_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Invoice_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Payment_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Payment_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__InvoicetoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__InvoicetoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PaymenttoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__PaymenttoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Cargo_status_is_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Cargo_status_is_changed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__VATratebuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__VATratebuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__VATrateselling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__VATrateselling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Reference_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Reference_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofBuyingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__TotalAmountofBuyingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofBuyingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__TotalAmountofBuyingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofSellingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__TotalAmountofSellingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofSellingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__TotalAmountofSellingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoice_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Invoice_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Summary_of_Billings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Summary_of_Billings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Anken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarFullCopySOId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Tariff__r.clofor_com_cfs__BuyKingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Tariff__r.clofor_com_cfs__BuyAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Tariff__r.clofor_com_cfs__SellKingakuJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.clofor_com_cfs__Tariff__r.clofor_com_cfs__SellAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddBillingstoCollectionVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_value_for_Billing_0_0</name>
        <label>Assign Single value for Billing</label>
        <locationX>1370</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ADVANCE_PAYMENT_ON_BEHALF_OF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ADVANCE_PAYMENT_ON_BEHALF_OF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_BuyInAfter_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AM_BuyInAfter_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_BuyInAfter_allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AM_BuyInAfter_allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_BuyInBefore_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AM_BuyInBefore_Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_MCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AM_MCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_Buyinbefore_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AM_Buyinbefore_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_MasterID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AM_MasterID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AM_MasterMeisaiID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AM_MasterMeisaiID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ANKEN_CBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ANKEN_CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AdjustedAfterClosingBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AdjustedAfterClosingBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AdjustedAfterClosingSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AdjustedAfterClosingSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AdvancePaymentOnBehalfOfOurCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AdvancePaymentOnBehalfOfOurCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AmountBuyingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AmountBuyingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountSellingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AmountSellingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountSellingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AmountSellingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ApprovaStatusForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ApprovaStatusForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Ararigaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Ararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BY_PASS_VALIDATION_RULE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BY_PASS_VALIDATION_RULE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BadDebtAging__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BadDebtAging__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BadDebtCheckBox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BadDebtCheckBox__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BankAccountForReceiving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BankAccountForReceiving__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BeneficiaryBuyingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BeneficiaryBuyingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Bikou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Bikou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BillDataUpdateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BillDataUpdateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BillNameForInternal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BillNameForInternal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyInTaxAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyInTaxAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyTaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyTaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyTaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyingCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingDebitAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyingDebitAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingVATCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyingVATCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__BuyingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__BuyingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ChargeUnitFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ChargeUnitFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ChargeUnitInPrint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ChargeUnitInPrint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CollectDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__CollectDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ContainerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ContainerID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ContainerSizeFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ContainerSizeFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ContainerSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ContainerSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Cost_Allocation_Catetory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Cost_Allocation_Catetory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__CurrencyBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CurrencyConversionBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__CurrencyConversionBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CurrencyConversionSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__CurrencyConversionSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__DataUpdateStatusBillToQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__DataUpdateStatusBillToQL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateBuyingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRateBuyingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateBuyingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRateBuyingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateIDVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRateIDVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRateID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateSellingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRateSellingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRateSellingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRateSellingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRequiredForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRequiredForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ExchangeRequiredForSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ExchangeRequiredForSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__House_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__House_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__IS_DESTINATION_A_BROKER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__IS_DESTINATION_A_BROKER__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__InsatuyouSyohinEng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__InsatuyouSyohinEng__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__InsatuyouSyohin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__InsatuyouSyohin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoice_Destination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Invoice_Destination_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoiceto_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Invoiceto_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__KawaseBay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__KawaseBay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__KawaseSel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__KawaseSel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Last_Sent_Uncollected_Charge_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Last_Sent_Uncollected_Charge_Reminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__MASTER_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__MASTER_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PROFIT_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PROFIT_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerCreditJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerCreditJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerCredit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerCredit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerDebitJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerDebitJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerDebit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerDebit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisanUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerSeisanUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PartnerSeisan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PartnerSeisan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PayDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PayDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PaymentTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PaymentTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PricingRecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PricingRecordType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PrintFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PrintFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProductSyobunrui__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ProductSyobunrui__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProductTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ProductTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitIncludeTaxLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ProfitIncludeTaxLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ProfitIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitRatioIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ProfitRatioIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitRatioIncludeTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ProfitRatioIncludeTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ProfitRatioUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ProfitRatioUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__QuoteLineID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__QuoteLineID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Recordtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Recordtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__RiekirituMisei__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__RiekirituMisei__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SalesAccountedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SalesAccountedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SeikyuBangou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SeikyuBangou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SeikyusakiTantosya__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SeikyusakiTantosya__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Seikyusaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Seikyusaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellInTaxAmountJPY_NoRound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellInTaxAmountJPY_NoRound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellInTaxAmount_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellInTaxAmount_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingCreditAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellingCreditAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellingDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingVATCreditAccountingcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellingVATCreditAccountingcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SellingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SellingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Selling_Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Selling_Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Selling_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Selling_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Selling_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Selling_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SerchSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SerchSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Shiiresaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Shiiresaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__SiharaisakiSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__SiharaisakiSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Suryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Suryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Tariff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Tariff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__TaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__TaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TorihikisakiLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__TorihikisakiLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__UNPAID_BALANCE_OF_BUYING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__UNPAID_BALANCE_OF_BUYING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__UNPAID_BALANCE_OF_SELLING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__UNPAID_BALANCE_OF_SELLING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__USDTaxAdjustmentSell__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__USDTaxAdjustmentSell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__USDTaxAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__USDTaxAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Uncollected_Charge_Reminder_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Uncollected_Charge_Reminder_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__VAT_INVOICE_TO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__VAT_INVOICE_TO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__buying_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__buying_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__buying_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__buying_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__buying_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__curr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__curr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__selling_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__selling_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__selling_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__selling_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkDefaultTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkDefaultTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkPP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayBaseDateInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkPayBaseDateInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayBaseDatePayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkPayBaseDatePayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayConditionInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkPayConditionInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkPayConditionPayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkPayConditionPayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSBS2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkSBS2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSBS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkSBS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSeikyuSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkSeikyuSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkShireSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkShireSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkSuryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkSuryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__wkTaxFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__wkTaxFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PaymentToRelationshipType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PaymentToRelationshipType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__ServiceNameInConsolBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__ServiceNameInConsolBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__CountOfOfConnectedTrxPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__CountOfOfConnectedTrxPlan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingIncTaxFCYInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AmountBuyingIncTaxFCYInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__AmountBuyingIncTaxLocalInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__AmountBuyingIncTaxLocalInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoice_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Invoice_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Payment_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Payment_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__InvoicetoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__InvoicetoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__PaymenttoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__PaymenttoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Cargo_status_is_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Cargo_status_is_changed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__VATratebuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__VATratebuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__VATrateselling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__VATrateselling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Reference_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Reference_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofBuyingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__TotalAmountofBuyingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofBuyingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__TotalAmountofBuyingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofSellingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__TotalAmountofSellingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__TotalAmountofSellingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__TotalAmountofSellingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Invoice_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Invoice_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Summary_of_Billings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.clofor_com_cfs__Summary_of_Billings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.clofor_com_cfs__Anken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPartialCopySOId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddBillingstoCollectionVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrossboarderRecordType</name>
        <label>Crossboarder Record Type</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cross_Boarder_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DomesticTransportationRecordType</name>
        <label>Domestic Transportation RecordType</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDomesticTransportationRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Express_RecordType</name>
        <label>Express RecordType</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Express_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Logistics_Service_RecordType</name>
        <label>Logistics Service RecordType</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLogisticsServiceRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ocean_Export_RecordType</name>
        <label>Ocean Export RecordType</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOceanExportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OceanImportRecordType</name>
        <label>Ocean Import RecordType</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOceanImportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuotationRecordType</name>
        <label>Quotation RecordType</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuotationRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Type_of_SO</name>
        <label>Check Record Type of SO</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AirExport</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OutAir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OutAir_lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAirExportRecordType</targetReference>
            </connector>
            <label>Air Export</label>
        </rules>
        <rules>
            <name>Air_Import</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InAir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>airimportlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAirImportRecordType</targetReference>
            </connector>
            <label>Air Import</label>
        </rules>
        <rules>
            <name>Cross_Boarder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CrossBoarder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CrossBoarderLock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cross_Boarder_RecordType</targetReference>
            </connector>
            <label>Cross Boarder</label>
        </rules>
        <rules>
            <name>Domestic_Transportation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic_Transportation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic_Transportation_Lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDomesticTransportationRecordType</targetReference>
            </connector>
            <label>Domestic Transportation</label>
        </rules>
        <rules>
            <name>Express</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Express</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExpressLock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Express_RecordType</targetReference>
            </connector>
            <label>Express</label>
        </rules>
        <rules>
            <name>Logistics_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LogisticsService</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LogisticsServiceLock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLogisticsServiceRecordType</targetReference>
            </connector>
            <label>Logistics Service</label>
        </rules>
        <rules>
            <name>Ocean_Export</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>oceanexport_lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOceanExportRecordType</targetReference>
            </connector>
            <label>Ocean Export</label>
        </rules>
        <rules>
            <name>Ocean_Import</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>oceanimport_lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOceanImportRecordType</targetReference>
            </connector>
            <label>Ocean Import</label>
        </rules>
        <rules>
            <name>Quotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QUOTATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuotationRecordType</targetReference>
            </connector>
            <label>Quotation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CopyAllBillingsorSeparate</name>
        <label>Copy All Billings or Separate ?</label>
        <locationX>1238</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Copy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FullCopy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatenewFULLCOPYSHIPMENTrecord</targetReference>
            </connector>
            <label>Full Copy</label>
        </rules>
        <rules>
            <name>PatialCopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartialCopy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatenewPartialSHIPMENT</targetReference>
            </connector>
            <label>Partial Copy</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectBillings</name>
        <dataType>String</dataType>
        <displayField>clofor_com_cfs__Summary_of_Billings__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Full Copy/Partical Copy SHIPMENT {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Full Copy/Partical Copy SHIPMENT</label>
    <loops>
        <name>Check_with_to_Copy</name>
        <label>Check with to Copy</label>
        <locationX>930</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Original_Bill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_value_for_Billing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreatenewBillingsrecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Original_Bill_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_value_for_Billing_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Billings_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Billings_0</name>
        <label>Create Billings</label>
        <locationX>1282</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Redirect_to_Record_0</targetReference>
        </connector>
        <inputReference>VarBillingsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatenewBillingsrecords</name>
        <label>Create new Billings records</label>
        <locationX>930</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Redirect_to_Record</targetReference>
        </connector>
        <inputReference>VarBillingsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatenewFULLCOPYSHIPMENTrecord</name>
        <label>Create new FULL COPY SHIPMENT record</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>VarFullCopySOId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Original_Bill</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__AlertDebitIssuedBefore__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__AlertDebitIssuedBefore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BLtype__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__BLtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingNv__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__BookingNv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingStatus__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__BookingStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CARGO_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__CARGO_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CNEE_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__CNEE_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CarrierType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__CarrierType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Cnee__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Cnee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DATE_OF_HOUSE_BL_ISSUED__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__DATE_OF_HOUSE_BL_ISSUED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__D_O_type__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__D_O_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DebitIssuedDeadline__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__DebitIssuedDeadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DeliveryAgent__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__DeliveryAgent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETA__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Field1__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Field1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__FinalDestination__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Freight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Freight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Freight_and_charges__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Freight_and_charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__GOODS_ATTACHMENT__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__GOODS_ATTACHMENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__GoodsDescriptiononAN__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__GoodsDescriptiononAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__GrossWeight__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__HouseBookingNo__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__HouseBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Item__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__LoadLocation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__LoadLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MASTER_BOOKINGNO__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MASTER_BOOKINGNO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MAWB__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MAWB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MFreight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MFreight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MSurrender__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MSurrender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Marks_and_Numbers__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Marks_and_Numbers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Master_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Master_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Measurement__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Measurement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__NOTIFY_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__NOTIFY_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__No_Of_LoadingConfirmation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__No_Of_LoadingConfirmation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__No_of_Original_BL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__No_of_Original_BL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__No_of_Package_or_Container__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__No_of_Package_or_Container__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Notifyparty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Notifyparty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__NumberOfContainers__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__NumberOfContainers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__POD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__POL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Partner__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Payable_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Payable_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PlaceOfHouseBLIssued__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PlaceOfHouseBLIssued__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Place_Of_Delivery__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Place_Of_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PlaceofDeliveryshowonPOD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PlaceofDeliveryshowonPOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PortOfDischargeDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PortOfDischargeDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PortOfLoadingDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PortOfLoadingDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Prepaid_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Prepaid_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__QuotationPaymentCondition__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__QuotationPaymentCondition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__SUB_RECORD_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__SUB_RECORD_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__SecondNotifyParty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__SecondNotifyParty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__TotalAmountOfBuyingFCYRollup__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__TotalAmountOfBuyingFCYRollup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__TranporationType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__TranporationType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__VASRequire__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__VASRequire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__shipper__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__shipper__c</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__CustomObject1__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreatenewPartialSHIPMENT</name>
        <label>Create new Partial SHIPMENT</label>
        <locationX>1282</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>VarPartialCopySOId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Original_Bill_0</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__AlertDebitIssuedBefore__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__AlertDebitIssuedBefore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BLtype__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__BLtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingNv__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__BookingNv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingStatus__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__BookingStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CARGO_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__CARGO_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CNEE_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__CNEE_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CarrierType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__CarrierType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Cnee__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Cnee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DATE_OF_HOUSE_BL_ISSUED__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__DATE_OF_HOUSE_BL_ISSUED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__D_O_type__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__D_O_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DebitIssuedDeadline__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__DebitIssuedDeadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DeliveryAgent__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__DeliveryAgent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETA__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Field1__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Field1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__FinalDestination__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Freight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Freight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Freight_and_charges__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Freight_and_charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__GOODS_ATTACHMENT__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__GOODS_ATTACHMENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__GoodsDescriptiononAN__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__GoodsDescriptiononAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__GrossWeight__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__HouseBookingNo__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__HouseBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Item__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__LoadLocation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__LoadLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MASTER_BOOKINGNO__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MASTER_BOOKINGNO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MAWB__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MAWB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MFreight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MFreight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MSurrender__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__MSurrender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Master_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Master_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Measurement__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Measurement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__NOTIFY_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__NOTIFY_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__No_Of_LoadingConfirmation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__No_Of_LoadingConfirmation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__No_of_Original_BL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__No_of_Original_BL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__NoofPackageorContainer__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__NoofPackageorContainer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Notifyparty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Notifyparty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__NumberOfContainers__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__NumberOfContainers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__POD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__POL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Partner__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Payable_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Payable_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PlaceOfHouseBLIssued__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PlaceOfHouseBLIssued__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Place_Of_Delivery__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Place_Of_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PlaceofDeliveryshowonPOD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PlaceofDeliveryshowonPOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PortOfDischargeDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PortOfDischargeDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PortOfLoadingDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__PortOfLoadingDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Prepaid_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__Prepaid_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__QuotationPaymentCondition__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__QuotationPaymentCondition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__SUB_RECORD_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__SUB_RECORD_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__SecondNotifyParty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__SecondNotifyParty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__TotalAmountOfBuyingFCYRollup__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__TotalAmountOfBuyingFCYRollup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__TranporationType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__TranporationType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__VASRequire__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__VASRequire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__shipper__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.clofor_com_cfs__shipper__c</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__CustomObject1__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cross_Boarder_RecordType</name>
        <label>Get Cross Boarder RecordType</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrossboarderRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CrossBoarder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Express_RecordType</name>
        <label>Get Express RecordType</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Express_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Express</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Bill</name>
        <label>Get Original Bill</label>
        <locationX>930</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_with_to_Copy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SHIPMENT_information.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Bill_0</name>
        <label>Get Original Bill</label>
        <locationX>1282</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SHIPMENT_information.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SHIPMENT_information</name>
        <label>Get SHIPMENT information</label>
        <locationX>1238</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenChooseBillings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAirExportRecordType</name>
        <label>Get Air Export RecordType</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AirExportRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OutAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAirImportRecordType</name>
        <label>Get Air Import RecordType</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AirImportRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDomesticTransportationRecordType</name>
        <label>Get Domestic Transportation RecordType</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DomesticTransportationRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic_Transportation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLogisticsServiceRecordType</name>
        <label>Get Logistics Service RecordType</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Logistics_Service_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LogisticsService</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOceanExportRecordType</name>
        <label>Get Ocean Export RecordType</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ocean_Export_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOceanImportRecordType</name>
        <label>Get Ocean Import RecordType</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OceanImportRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecordType1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotationRecordType</name>
        <label>Get Quotation RecordType</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuotationRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QUOTATION</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Redirect_to_Record</name>
        <label>Redirect to Record</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirectorecord</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>VarFullCopySOId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Record_0</name>
        <label>Redirect to Record</label>
        <locationX>1282</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirectorecord_0</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>VarPartialCopySOId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenChooseBillings</name>
        <label>Screen Choose Billings</label>
        <locationX>1238</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Record_Type_of_SO</targetReference>
        </connector>
        <fields>
            <name>choosetocreate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Choose which Type Of Copy !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FullCopy</name>
            <dataType>Boolean</dataType>
            <fieldText>Full Copy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PartialCopy</name>
            <dataType>Boolean</dataType>
            <fieldText>Partial Copy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SHIPMENT_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleBilling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>VarBillingsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>VarFullCopySOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewShipmentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPartialCopySOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarShipment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__CustomObject1__c</objectType>
    </variables>
</Flow>
