force-app/main/default/flows/Create_Shipment_from_E_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_EXP</name>
        <label>Assign EXP</label>
        <locationX>605</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>VarRecordTypeSO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EXP_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFTMSSO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_for_Transit</name>
        <label>Assign value for Transit</label>
        <locationX>1303</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__ETAAtTransitPort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.ETAAtTransitPort__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__ETDAtTransitPort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.ETDAtTransitPort__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__TransitPort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.TransitPort__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__ShipmentOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateFTMSSO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__MasterCarrierConsolidator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MasterCarrierConsolidator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__TransitVesselFlight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.TransitVesselFlight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__TransitVoyage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.TransitVoyage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_for_Transit_0</name>
        <label>Assign value for Transit</label>
        <locationX>1306</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__ETAAtTransitPort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.ETAAtTransitPort__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__ETDAtTransitPort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.ETDAtTransitPort__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__TransitPort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.TransitPort__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__ShipmentOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateFTMSSO_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__MasterCarrierConsolidator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MasterCarrierConsolidator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__TransitVesselFlight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.TransitVesselFlight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarTransit.clofor_com_cfs__TransitVoyage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarEBooking.TransitVoyage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transit_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAirEXP</name>
        <label>Assign Air EXP</label>
        <locationX>613</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>VarRecordTypeSO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Air_EXP_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFTMSSO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAirIMP</name>
        <label>Assign Air IMP</label>
        <locationX>622</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>VarRecordTypeSO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Air_IMP_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFTMSSO_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOceanIMP</name>
        <label>Assign Ocean IMP</label>
        <locationX>611</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>VarRecordTypeSO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IMP_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFTMSSO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Transit_Port</name>
        <label>Check Transit Port</label>
        <locationX>999</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>redirect_to_Shipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transit_port_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEBooking.TransitPort__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_for_Transit</targetReference>
            </connector>
            <label>Transit port not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transit_Port_0</name>
        <label>Check Transit Port</label>
        <locationX>999</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>redirect_to_Shipment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transit_port_not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEBooking.TransitPort__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_for_Transit_0</targetReference>
            </connector>
            <label>Transit port not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipment_Type</name>
        <label>Shipment Type?</label>
        <locationX>357</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OceanIMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEBooking.ShippingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocean Import</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOceanIMP</targetReference>
            </connector>
            <label>Ocean IMP</label>
        </rules>
        <rules>
            <name>OceanEXP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEBooking.ShippingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocean Export</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EXP</targetReference>
            </connector>
            <label>Ocean EXP</label>
        </rules>
        <rules>
            <name>AirIMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEBooking.ShippingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Import</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAirIMP</targetReference>
            </connector>
            <label>Air IMP</label>
        </rules>
        <rules>
            <name>AirEXP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarEBooking.ShippingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Export</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAirEXP</targetReference>
            </connector>
            <label>Air EXP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Shipment from E-Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Shipment from E-Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transit</name>
        <label>Create Transit</label>
        <locationX>1490</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Update_Shipment_with_transit</targetReference>
        </connector>
        <inputReference>VarTransit</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transit_0</name>
        <label>Create Transit</label>
        <locationX>1513</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Update_Shipment_with_transit_0</targetReference>
        </connector>
        <inputReference>VarTransit</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateFTMSSO</name>
        <label>Create F/TMS SO</label>
        <locationX>841</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Check_Transit_Port</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarRecordTypeSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingNv__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MasterCarrierConsolidator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingStatus__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__BookingStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CBM__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MeasurementCBM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Cnee__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Consignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Container2__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Container2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ContainerNumber2__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ContainerNumber2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ContainerNumber__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ContainerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Container__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Container__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__EBooking__c</field>
            <value>
                <elementReference>VarEBooking.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETA__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETD__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Field1__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__FinalDestination__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__HouseBookingNo__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__HouseBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Item__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__DescriptionOfGoods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MASTER_BOOKINGNO__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MasterBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POD__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__POD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POL__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__POL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Place_Of_Delivery__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Place_Of_Receipt__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Place_Of_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Vessle__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__RequestedVessel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Voy_No__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__RequiredVoyage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__shipper__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Shipper__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__weight__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateFTMSSO_0</name>
        <label>Create F/TMS SO</label>
        <locationX>833</locationX>
        <locationY>454</locationY>
        <connector>
            <targetReference>Check_Transit_Port_0</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VarRecordTypeSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingNv__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MasterCarrierConsolidator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BookingStatus__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__BookingStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CBM__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MeasurementCBM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Cnee__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Consignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Container2__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Container2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ContainerNumber2__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ContainerNumber2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ContainerNumber__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ContainerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Container__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Container__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__EBooking__c</field>
            <value>
                <elementReference>VarEBooking.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETA__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ETD__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Field1__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__CompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__FinalDestination__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__HouseBookingNo__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__HouseBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Item__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__DescriptionOfGoods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__MASTER_BOOKINGNO__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__MasterBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POD__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__POD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POL__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__POL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Place_Of_Delivery__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Place_Of_Receipt__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Place_Of_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Vessle__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__RequestedVessel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Voy_No__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__RequiredVoyage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__shipper__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__Shipper__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__weight__c</field>
            <value>
                <elementReference>VarEBooking.clofor_com_cfs__GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Air_EXP_Record_Type</name>
        <label>Get Air EXP Record Type</label>
        <locationX>50</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Air_IMP_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>OutAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Air_IMP_Record_Type</name>
        <label>Get Air IMP Record Type</label>
        <locationX>197</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>InAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Booking_ID</name>
        <label>Get Booking ID</label>
        <locationX>519</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IMP_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>clofor_com_cfs__EBooking__c</object>
        <outputReference>VarEBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>clofor_com_cfs__BookingStatus__c</queriedFields>
        <queriedFields>ShippingType__c</queriedFields>
        <queriedFields>clofor_com_cfs__MasterBookingNo__c</queriedFields>
        <queriedFields>clofor_com_cfs__HouseBookingNo__c</queriedFields>
        <queriedFields>clofor_com_cfs__CompanyName__c</queriedFields>
        <queriedFields>clofor_com_cfs__MasterCarrierConsolidator__c</queriedFields>
        <queriedFields>clofor_com_cfs__CommodityName__c</queriedFields>
        <queriedFields>clofor_com_cfs__Container__c</queriedFields>
        <queriedFields>clofor_com_cfs__Container2__c</queriedFields>
        <queriedFields>clofor_com_cfs__ContainerNumber__c</queriedFields>
        <queriedFields>clofor_com_cfs__ContainerNumber2__c</queriedFields>
        <queriedFields>clofor_com_cfs__GrossWeight__c</queriedFields>
        <queriedFields>clofor_com_cfs__MeasurementCBM__c</queriedFields>
        <queriedFields>clofor_com_cfs__POL__c</queriedFields>
        <queriedFields>clofor_com_cfs__POD__c</queriedFields>
        <queriedFields>clofor_com_cfs__FinalDestination__c</queriedFields>
        <queriedFields>clofor_com_cfs__ETD__c</queriedFields>
        <queriedFields>clofor_com_cfs__ETA__c</queriedFields>
        <queriedFields>clofor_com_cfs__RequestedVessel__c</queriedFields>
        <queriedFields>clofor_com_cfs__RequiredVoyage__c</queriedFields>
        <queriedFields>TransitPort__c</queriedFields>
        <queriedFields>TransitVesselFlight__c</queriedFields>
        <queriedFields>TransitVoyage__c</queriedFields>
        <queriedFields>ETDAtTransitPort__c</queriedFields>
        <queriedFields>ETAAtTransitPort__c</queriedFields>
        <queriedFields>clofor_com_cfs__Shipper__c</queriedFields>
        <queriedFields>clofor_com_cfs__Consignee__c</queriedFields>
        <queriedFields>clofor_com_cfs__DescriptionOfGoods__c</queriedFields>
        <queriedFields>clofor_com_cfs__Place_Of_Receipt__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_EXP_Record_Type</name>
        <label>Get EXP Record Type</label>
        <locationX>196</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Air_EXP_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IMP_Record_Type</name>
        <label>Get IMP Record Type</label>
        <locationX>375</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EXP_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>RecordType1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipment_with_transit</name>
        <label>Update Shipment with transit</label>
        <locationX>1368</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>redirect_to_Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateFTMSSO</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>clofor_com_cfs__MultiTransitRequired__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__CustomObject1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipment_with_transit_0</name>
        <label>Update Shipment with transit</label>
        <locationX>1410</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>redirect_to_Shipment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateFTMSSO_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>clofor_com_cfs__MultiTransitRequired__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__CustomObject1__c</object>
    </recordUpdates>
    <screens>
        <name>redirect_to_Shipment</name>
        <label>redirect to Shipment</label>
        <locationX>1147</locationX>
        <locationY>121</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>directtoShipment</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>CreateFTMSSO</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>redirect_to_Shipment_0</name>
        <label>redirect to Shipment</label>
        <locationX>1198</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>directtoShipment_0</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>CreateFTMSSO_0</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>702</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Booking_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarEBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__EBooking__c</objectType>
    </variables>
    <variables>
        <name>VarRecordTypeSO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTransit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__Transit__c</objectType>
    </variables>
</Flow>
