force-app/main/default/flows/Create_Request_from_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>CustomsClearance</name>
        <choiceText>Customs Clearance / 通関</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customs clearance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Packingg</name>
        <choiceText>Packing / 梱包</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Packing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Truck</name>
        <choiceText>Trucking / 集荷又は配送</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trucking</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>requiredService</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>clofor_com_cfs__RequiredService__c</picklistField>
        <picklistObject>clofor_com_cfs__RFPRFQ__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service__c</picklistField>
        <picklistObject>clofor_com_cfs__RFPRFQ__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransportatinoType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transportation_Type__c</picklistField>
        <picklistObject>clofor_com_cfs__RFPRFQ__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Request from Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Request from Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRequest</name>
        <label>CreateRequest</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>YOUR_REQUEST_HAS_BEEN_COMPLETED</targetReference>
        </connector>
        <inputAssignments>
            <field>Company__c</field>
            <value>
                <elementReference>Company1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirmed__c</field>
            <value>
                <elementReference>UniqueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>Remark1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transportation_Type__c</field>
            <value>
                <elementReference>TransportationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DeliveryAddress__c</field>
            <value>
                <elementReference>Delivery_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__DescriptionOfGoods__c</field>
            <value>
                <elementReference>Commodity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__GrossWeightKG__c</field>
            <value>
                <elementReference>Gross_Weight_KG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PODAOA__c</field>
            <value>
                <elementReference>POD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__POLAOD__c</field>
            <value>
                <elementReference>P_O_L_A_O_D</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PickupAddress__c</field>
            <value>
                <elementReference>PickupAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__RequestDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__RequiredService__c</field>
            <value>
                <elementReference>OptionalSer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Volume__c</field>
            <value>
                <elementReference>Volume_CBM</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__RFPRFQ__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_record_type</name>
        <label>Get record type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RFPRFQFromCustomer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>GetquoteDetails</name>
        <label>GetquoteDetails</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_record_type</targetReference>
        </connector>
        <fields>
            <name>Contact</name>
            <fieldText>&lt;h5 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px;&quot;&gt;Contact/連絡情報&lt;/strong&gt;&lt;/h5&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company1</name>
            <fieldText>社名/Company</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>お名前/Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetquoteDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetquoteDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number/電話番号</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetquoteDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Detail</name>
            <fieldText>&lt;h5 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 26px;&quot;&gt;Detail/見積依頼詳細&lt;/strong&gt;&lt;/h5&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GetquoteDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetquoteDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service</name>
                    <choiceReferences>ServiceType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Service/サービス</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetquoteDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TransportationType</name>
                    <choiceReferences>TransportatinoType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>運送タイプ</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GetquoteDetails_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetquoteDetails_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>P_O_L_A_O_D</name>
                    <dataType>String</dataType>
                    <fieldText>POL</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetquoteDetails_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>POD</name>
                    <dataType>String</dataType>
                    <fieldText>POD</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>GetquoteDetails_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetquoteDetails_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Gross_Weight_KG</name>
                    <dataType>Number</dataType>
                    <fieldText>Gross Weight(KG):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetquoteDetails_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Volume_CBM</name>
                    <dataType>Number</dataType>
                    <fieldText>Volume(CBM):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetquoteDetails_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <fieldText>Quantity / 個数：</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Commodity1</name>
            <fieldText>Commodity /商品名</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GetquoteDetails_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetquoteDetails_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OptionalSer</name>
                    <choiceReferences>CustomsClearance</choiceReferences>
                    <choiceReferences>Truck</choiceReferences>
                    <choiceReferences>Packingg</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Optional service / 追加サービス</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Delivery_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Delivery Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OptionalSer</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Truck</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Import</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PickupAddress</name>
                    <dataType>String</dataType>
                    <fieldText>Pick up Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OptionalSer</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>Truck</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Export</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetquoteDetails_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Remark1</name>
            <fieldText>Remark</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GetquoteDetails_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GetquoteDetails_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmed</name>
                    <fieldText>&lt;h4&gt;&lt;strong&gt;内容確認&amp;nbsp;&lt;/strong&gt;&lt;/h4&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>UniqueName</name>
                    <dataType>Boolean</dataType>
                    <fieldText>確認しました。</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GetquoteDetails_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Get Quote/見積依頼</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RedirectToRecord</name>
        <label>Redirect To Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>recordRedirect</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>CreateRequest</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>YOUR_REQUEST_HAS_BEEN_COMPLETED</name>
        <label>YOUR REQUEST HAS BEEN COMPLETED</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToRecord</targetReference>
        </connector>
        <fields>
            <name>COMPLETED</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(160, 5, 5); font-size: 20px;&quot;&gt;YOUR REQUEST HAS BEEN COMPLETED. THANK YOU!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Review Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetquoteDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
