force-app/main/default/flows/F_TMS_Bill_Trx_Plan_Check_duplicate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Invoice_to_or_payment_to</name>
        <label>Invoice to or payment to</label>
        <locationX>879</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__FMSBillID__r.clofor_com_cfs__Seikyusaki__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.clofor_com_cfs__PaymentRequestID__r.clofor_com_cfs__PaymentTo__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_text_Invoice_to</targetReference>
            </connector>
            <label>Invoice to</label>
        </rules>
        <rules>
            <name>Payment_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__FMSBillID__r.clofor_com_cfs__PaymentTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.clofor_com_cfs__PaymentRequestID__r.clofor_com_cfs__PaymentTo__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_text_Payment_to</targetReference>
            </connector>
            <label>Payment to</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS Bill+Trx Plan|Check duplicate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS Bill+Trx Plan|Check duplicate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_text_Invoice_to</name>
        <label>Update text Invoice to</label>
        <locationX>754</locationX>
        <locationY>506</locationY>
        <inputAssignments>
            <field>clofor_com_cfs__FTMSBillText__c</field>
            <value>
                <elementReference>Invoiceto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_text_Payment_to</name>
        <label>Update text Payment to</label>
        <locationX>1011</locationX>
        <locationY>499</locationY>
        <inputAssignments>
            <field>clofor_com_cfs__FTMSBillText__c</field>
            <value>
                <elementReference>Paymentto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Invoice_to_or_payment_to</targetReference>
        </connector>
        <object>clofor_com_cfs__FMSBillPayReq__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Invoiceto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Selling-{!$Record.clofor_com_cfs__FMSBillID__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Paymentto</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Buying-{!$Record.clofor_com_cfs__FMSBillID__r.Name}</text>
    </textTemplates>
</Flow>
