force-app/main/default/flows/F_TMS_Bill_Trx_Plan_Update_Invoice_to_same_payment_to_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Invoice_to_in_bill_same_as_payment_to</name>
        <label>Check Invoice to in bill same as payment to</label>
        <locationX>766</locationX>
        <locationY>317</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__FMSBillID__r.clofor_com_cfs__Seikyusaki__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.clofor_com_cfs__PaymentRequestID__r.clofor_com_cfs__PaymentTo__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_1_to_same</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS Bill + Trx Plan | Update Invoice to same payment to = 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS Bill + Trx Plan | Update Invoice to same payment to = 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_1_to_same</name>
        <label>Update 1 to same</label>
        <locationX>771</locationX>
        <locationY>467</locationY>
        <inputAssignments>
            <field>clofor_com_cfs__BillInvToSameTrxPlan__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Invoice_to_in_bill_same_as_payment_to</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__FMSBillID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>clofor_com_cfs__FMSBillPayReq__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
