force-app/main/default/flows/F_TMS_Bill_Button_Clone_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>F/TMS Bill | Button Clone Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS Bill | Button Clone Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatenewBillingsrecords_0</name>
        <label>Create new Billings records</label>
        <locationX>1312</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Final_screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Original_Bill_0.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Type_Buying__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.Tax_Type_Buying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Type_Selling__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.Tax_Type_Selling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Anken__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__Anken__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BuyTankaJPY__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__BuyTankaJPY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BuyTankaUSD__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__BuyTankaUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__BuyTaxInitial__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__BuyTaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ChargeUnit__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__ChargeUnit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ContainerSize__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__ContainerSize__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__InboundVATInvNo__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__InboundVATInvNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__InsatuyouSyohinEng__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__InsatuyouSyohinEng__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__InsatuyouSyohin__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__InsatuyouSyohin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__OutboundVATInvNo__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__OutboundVATInvNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PaymentTo__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__PaymentTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Seikyusaki__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__Seikyusaki__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__SellTankaJPY__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__SellTankaJPY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__SellTankaUSD__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__SellTankaUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Suryo__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__Suryo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__Tariff__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__Tariff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__TaxInitial__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__TaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__curr__c</field>
            <value>
                <elementReference>Get_Original_Bill_0.clofor_com_cfs__curr__c</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Original_Bill_0</name>
        <label>Get Original Bill</label>
        <locationX>1312</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatenewBillingsrecords_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Final_screen_0</name>
        <label>Final screen</label>
        <locationX>1314</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectNewRecord_0</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>CreatenewBillingsrecords_0</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>clofor_com_cfs__Full_Copy_Partical_Copy_SHIPMENT</sourceTemplate>
    <start>
        <locationX>1185</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Original_Bill_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
