force-app/main/default/flows/F_TMS_S_O_Update_NVOCC_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_NVOCC_Code</name>
        <label>Check NVOCC Code</label>
        <locationX>765</locationX>
        <locationY>307</locationY>
        <defaultConnector>
            <targetReference>Update_NVOCC_Code_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__NominationParty__r.clofor_com_cfs__NVOCC_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NVOCC_Code</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS S/O| Update NVOCC Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O| Update NVOCC Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_NVOCC_Code</name>
        <label>Update NVOCC Code</label>
        <locationX>644</locationX>
        <locationY>456</locationY>
        <inputAssignments>
            <field>NVOCCCode__c</field>
            <value>
                <elementReference>$Record.clofor_com_cfs__NominationParty__r.clofor_com_cfs__NVOCC_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NVOCC_Code_0</name>
        <label>Update NVOCC Code</label>
        <locationX>882</locationX>
        <locationY>473</locationY>
        <inputAssignments>
            <field>NVOCCCode__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>651</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_NVOCC_Code</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR 2</filterLogic>
        <filters>
            <field>clofor_com_cfs__NominationParty__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__NominationParty__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NVOCCCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
