force-app/main/default/flows/F_TMS_S_O_Update_AFR_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>F/TMS S/O| Update AFR Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O| Update AFR Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_F_TMS_S_O</name>
        <label>Get F/TMS S/O</label>
        <locationX>779</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AFR_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AFR_Information</name>
        <label>Update AFR Information</label>
        <locationX>779</locationX>
        <locationY>287</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NVOCCCode__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.clofor_com_cfs__Custom_Clearance_Broker__r.clofor_com_cfs__NVOCC_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__B_L_PASSWORD__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.clofor_com_cfs__Cnee__r.clofor_com_cfs__EnglishAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CHECK_B_L_PASSWORD__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.clofor_com_cfs__Notifyparty__r.clofor_com_cfs__EnglishAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CarrierCode__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.clofor_com_cfs__BookingNv__r.clofor_com_cfs__Carrier_Code__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__D_O_PASSWORD__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.clofor_com_cfs__shipper__r.clofor_com_cfs__EnglishAddress__c</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__CustomObject1__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_F_TMS_S_O</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
