force-app/main/default/flows/F_TMS_S_O_CBM_and_GW_change_then_update_to_billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Have_billing</name>
        <label>Have billing?</label>
        <locationX>768</locationX>
        <locationY>472</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RTON_F_TMS_Bill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_F_TMS_Bill_q_ty_with_RTON</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS S/O| CBM and GW change then update to billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O| CBM and GW change then update to billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RTON_F_TMS_Bill</name>
        <label>Get RTON F/TMS Bill</label>
        <locationX>774</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__ChargeUnitInPrint__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RTON</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_F_TMS_Bill_q_ty_with_RTON</name>
        <label>Update F/TMS Bill q&apos;ty with RTON</label>
        <locationX>774</locationX>
        <locationY>596</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__ChargeUnitInPrint__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RTON</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>clofor_com_cfs__Suryo__c</field>
            <value>
                <elementReference>$Record.clofor_com_cfs__RTON__c</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_RTON_F_TMS_Bill</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>clofor_com_cfs__weight__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__CBM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__TranporationType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LCL</stringValue>
            </value>
        </filters>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
