force-app/main/default/flows/FTMS_Bill_Create_GG_Drive_Folder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Folder_on_Drive</name>
        <label>Create Folder on Drive</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>mafaili__MafailiCreateFolderAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>driveParentFolderId</name>
            <value>
                <elementReference>Get_Automation_Config.mafaili__Root_Folder_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>folderName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>credentialName</name>
            <value>
                <stringValue>Google_Drive</stringValue>
            </value>
        </inputParameters>
        <nameSegment>mafaili__MafailiCreateFolderAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>F/TMS Bill | Create GG Drive Folder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS Bill | Create GG Drive Folder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Config</name>
        <label>Get Automation Config</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Folder_on_Drive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mafaili__Object_API_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__AnkenMeisai__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mafaili__Automation_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>308</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>External_Folder_ID__c</field>
            <value>
                <elementReference>Create_Folder_on_Drive.createdFolderId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Automation_Config</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
