force-app/main/default/flows/FTMS_SO_Massive_Update_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Billing_ID</name>
        <label>Assign Billing ID</label>
        <locationX>1425</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>VarFMSbill.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Billings.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_group_billings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FxrateBuying</name>
        <label>Assign FxrateBuying</label>
        <locationX>1088</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>VarFMSbill.clofor_com_cfs__KawaseBay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exchange_Rate_Buying_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InboundInvoiceNo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FxrateSelling</name>
        <label>Assign FxrateSelling</label>
        <locationX>939</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>VarFMSbill.clofor_com_cfs__KawaseSel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exchange_Rate_Selling_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FxrateBuying</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inbound_Invoice_No</name>
        <label>Assign Inbound Invoice No</label>
        <locationX>1240</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>VarFMSbill.clofor_com_cfs__InboundVATInvNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inbound_Debit_Invoice_No_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OutboundinvoiceNo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outbound_Invoice_No</name>
        <label>Assign Outbound Invoice No</label>
        <locationX>1598</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>VarFMSbill.clofor_com_cfs__OutboundVATInvNo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outbound_Invoice_Debit_No_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_group_billings</name>
        <label>Assign to group billings</label>
        <locationX>790</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>GroupBillings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarFMSbill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Billings</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ExchangeRateBuying</name>
        <choiceText>Exchange Rate-Buying</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exchange Rate-Buying</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExchangeRateSelling</name>
        <choiceText>Exchange Rate-Selling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exchange Rate-Selling</stringValue>
        </value>
    </choices>
    <choices>
        <name>InboundDebitInvoiceNo</name>
        <choiceText>Inbound Debit/Invoice No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inbound Debit/Invoice No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OutboundDebitInvoiceNo</name>
        <choiceText>Outbound Debit/Invoice No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outbound Debit/Invoice No</stringValue>
        </value>
    </choices>
    <choices>
        <name>TaxRateSelling</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Tax Rate-Selling&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Rate-Selling</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FxrateBuying</name>
        <label>FxrateBuying</label>
        <locationX>1076</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>InboundInvoiceNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FxrateBuying_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exchange_Rate_Buying_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FxrateBuying</targetReference>
            </connector>
            <label>FxrateBuying not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>FxrateSellig</name>
        <label>FxrateSellig</label>
        <locationX>927</locationX>
        <locationY>781</locationY>
        <defaultConnector>
            <targetReference>FxrateBuying</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FxrateSellignotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exchange_Rate_Selling_input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FxrateSelling</targetReference>
            </connector>
            <label>FxrateSellignotnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>InboundInvoiceNo</name>
        <label>InboundInvoiceNo</label>
        <locationX>1240</locationX>
        <locationY>777</locationY>
        <defaultConnector>
            <targetReference>OutboundinvoiceNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InboundInvoiceNo_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inbound_Debit_Invoice_No_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inbound_Invoice_No</targetReference>
            </connector>
            <label>InboundInvoiceNo not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutboundinvoiceNo</name>
        <label>OutboundinvoiceNo</label>
        <locationX>1408</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Assign_Billing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutboundinvoiceNo_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outbound_Invoice_Debit_No_Input</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outbound_Invoice_No</targetReference>
            </connector>
            <label>OutboundinvoiceNo not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS S/O| Massive Update Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O| Massive Update Billing</label>
    <loops>
        <name>Loop_Billings</name>
        <label>Loop Billings</label>
        <locationX>777</locationX>
        <locationY>769</locationY>
        <collectionReference>ListBilling.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FxrateSellig</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Billings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Billings</name>
        <label>Get Billings</label>
        <locationX>773</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChooseOption_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_shipment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_shipment</name>
        <label>Get current shipment</label>
        <locationX>775</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Billings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Billings</name>
        <label>Update Billings</label>
        <locationX>656</locationX>
        <locationY>775</locationY>
        <connector>
            <targetReference>Showsuccessmess</targetReference>
        </connector>
        <inputReference>GroupBillings</inputReference>
    </recordUpdates>
    <screens>
        <name>ChooseOption</name>
        <label>ChooseOption</label>
        <locationX>779</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Billings</targetReference>
        </connector>
        <fields>
            <name>Exchange_Rate_Selling_input</name>
            <dataType>Number</dataType>
            <fieldText>Exchange Rate-Selling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>3</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Listchoice_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ExchangeRateSelling</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Exchange_Rate_Buying_Input</name>
            <dataType>Number</dataType>
            <fieldText>Exchange Rate-Buying</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>3</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Listchoice_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ExchangeRateBuying</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Inbound_Debit_Invoice_No_Input</name>
            <dataType>String</dataType>
            <fieldText>Inbound Debit/Invoice No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Listchoice_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InboundDebitInvoiceNo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outbound_Invoice_Debit_No_Input</name>
            <dataType>String</dataType>
            <fieldText>Outbound Invoice/Debit No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Listchoice_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>OutboundDebitInvoiceNo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Options</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Are you sure to update the information?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ListBilling</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>clofor_com_cfs__AnkenMeisai__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Billings</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Billings</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-e342&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;F/TMS Bill ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__InsatuyouSyohinEng__c&quot;,&quot;guid&quot;:&quot;column-4227&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Service Name(Eng)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__InvoicetoShortname__c&quot;,&quot;guid&quot;:&quot;column-99cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Invoice to (Short name)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__SellInTaxAmountJPY__c&quot;,&quot;guid&quot;:&quot;column-9abd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount Selling Incl Tax(Local)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__KawaseSel__c&quot;,&quot;guid&quot;:&quot;column-410a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Exchange Rate-Selling(Debit)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__SellInTaxAmount_USD__c&quot;,&quot;guid&quot;:&quot;column-a850&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Amount Selling Incl Tax(FCY)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__OutboundVATInvNo__c&quot;,&quot;guid&quot;:&quot;column-90a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Outbound Freight Memo/Debit No&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__PaymenttoShortname__c&quot;,&quot;guid&quot;:&quot;column-d278&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Payment to (Short name)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__BuyInTaxAmountJPY__c&quot;,&quot;guid&quot;:&quot;column-3a18&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Amount Buying Incl Tax(Local)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__KawaseBay__c&quot;,&quot;guid&quot;:&quot;column-6b83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Exchange Rate-Buying(Credit)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__BuyInTaxAmountUSD__c&quot;,&quot;guid&quot;:&quot;column-e161&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;label&quot;:&quot;Amount Buying Incl Tax(FCY)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__InboundVATInvNo__c&quot;,&quot;guid&quot;:&quot;column-485a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:11,&quot;label&quot;:&quot;Inbound Freight Memo/Debit No&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseOption_0</name>
        <label>ChooseOption</label>
        <locationX>774</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ChooseOption</targetReference>
        </connector>
        <fields>
            <name>Options_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(44, 98, 157);&quot;&gt;MASSIVE UPDATE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Please choose which option you want to update to Billing as following:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Listchoice_0</name>
            <choiceReferences>ExchangeRateSelling</choiceReferences>
            <choiceReferences>ExchangeRateBuying</choiceReferences>
            <choiceReferences>InboundDebitInvoiceNo</choiceReferences>
            <choiceReferences>OutboundDebitInvoiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing List</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Showsuccessmess</name>
        <label>Showsuccessmess</label>
        <locationX>502</locationX>
        <locationY>774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your Billings are updated successfully! Please refresh the list to check again if any.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_current_shipment</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>GroupBillings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFMSbill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
</Flow>
