force-app/main/default/flows/Generate_Shipment_from_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_value_for_new_SHIPMENT</name>
        <label>Assign value for new SHIPMENT</label>
        <locationX>631</locationX>
        <locationY>1425</locationY>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShipmentRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.clofor_com_cfs__DescriptionOfGoods__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__PriceTerms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.clofor_com_cfs__Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__POD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.clofor_com_cfs__PODAOA__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__POL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.clofor_com_cfs__POLAOD__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__ETD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.clofor_com_cfs__ETD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__ETA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.clofor_com_cfs__ETA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__Field1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_record.clofor_com_cfs__RequesterCompany__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__shipper__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipper.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__Cnee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consignee.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarFTMSSOtoCreate.clofor_com_cfs__Notifyparty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notifyparty.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_for_new_SHIPMENT_0_0</name>
        <label>Assign value for new SHIPMENT</label>
        <locationX>241</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ShipmentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OutOcean_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_for_new_SHIPMENT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAirExportRecordTypeId</name>
        <label>Assign Air Export RecordTypeId</label>
        <locationX>530</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>ShipmentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAirExportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_for_new_SHIPMENT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAirImportRecordTypeId</name>
        <label>Assign Air Import RecordTypeId</label>
        <locationX>683</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>ShipmentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAirImportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_for_new_SHIPMENT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCrossBoarderRecordTypeId</name>
        <label>Assign Cross Boarder RecordTypeId</label>
        <locationX>1006</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ShipmentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCrossBoarderRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_for_new_SHIPMENT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDomesticTransportationRecordTypeId</name>
        <label>Assign Domestic Transportation RecordTypeId</label>
        <locationX>835</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>ShipmentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDomesticTransportationRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_for_new_SHIPMENT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOceanImportRecordTypeId</name>
        <label>Assign Ocean Import RecordTypeId</label>
        <locationX>380</locationX>
        <locationY>1158</locationY>
        <assignmentItems>
            <assignToReference>ShipmentRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOceanImportRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_for_new_SHIPMENT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Forwarding_Service_Required</name>
        <label>Check Forwarding Service Required</label>
        <locationX>403</locationX>
        <locationY>673</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OceanOutbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.clofor_com_cfs__ForwardingServiceRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocean Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OutOcean_RecordTypeId</targetReference>
            </connector>
            <label>Ocean Outbound</label>
        </rules>
        <rules>
            <name>OceanInbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.clofor_com_cfs__ForwardingServiceRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocean Inbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOceanImportRecordTypeId</targetReference>
            </connector>
            <label>Ocean Inbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Forwarding_Service_Required_0</name>
        <label>Check Forwarding Service Required</label>
        <locationX>559</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AirOutbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.clofor_com_cfs__ForwardingServiceRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Outbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAirExportRecordType</targetReference>
            </connector>
            <label>Air Outbound</label>
        </rules>
        <rules>
            <name>AirInbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.clofor_com_cfs__ForwardingServiceRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Inbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAirImportRecordType</targetReference>
            </connector>
            <label>Air Inbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Forwarding_Service_Required_0_0</name>
        <label>Check Forwarding Service Required</label>
        <locationX>740</locationX>
        <locationY>675</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DomesticTransportation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.clofor_com_cfs__ForwardingServiceRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic Transportation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDomesticTransportationRecordType</targetReference>
            </connector>
            <label>Domestic Transportation</label>
        </rules>
        <rules>
            <name>CrossBorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.clofor_com_cfs__ForwardingServiceRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-Border</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCrossBoarderRecordType</targetReference>
            </connector>
            <label>Cross-Border</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType_of_QUOTE</name>
        <label>Check RecordType of QUOTE</label>
        <locationX>568</locationX>
        <locationY>584</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OceanServiceQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LogisticsServiceQuote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Forwarding_Service_Required</targetReference>
            </connector>
            <label>Ocean Service Quote</label>
        </rules>
        <rules>
            <name>AirServiceQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AirLogisticsServiceQuote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Forwarding_Service_Required_0</targetReference>
            </connector>
            <label>Air Service Quote</label>
        </rules>
        <rules>
            <name>LogisticsDomesticServiceQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DomesticLogisticsServiceQuote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Forwarding_Service_Required_0_0</targetReference>
            </connector>
            <label>Logistics &amp; Domestic Service Quote</label>
        </rules>
        <rules>
            <name>ProductQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QUOTE_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProductQuote</stringValue>
                </rightValue>
            </conditions>
            <label>Product Quote</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate Shipment from Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Shipment from Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>644</locationX>
        <locationY>1605</locationY>
        <connector>
            <targetReference>screenredirect</targetReference>
        </connector>
        <inputReference>VarFTMSSOtoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_OutOcean_RecordTypeId</name>
        <label>Get OutOcean RecordTypeId</label>
        <locationX>150</locationX>
        <locationY>949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_for_new_SHIPMENT_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QUOTE_record</name>
        <label>Get QUOTE record</label>
        <locationX>686</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeIdofQUOTE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAirExportRecordType</name>
        <label>Get  Air Export RecordType</label>
        <locationX>455</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAirExportRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OutAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAirImportRecordType</name>
        <label>Get  Air Import RecordType</label>
        <locationX>629</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAirImportRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCrossBoarderRecordType</name>
        <label>Get Cross Boarder RecordType</label>
        <locationX>953</locationX>
        <locationY>976</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCrossBoarderRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CrossBoarder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDomesticTransportationRecordType</name>
        <label>Get Domestic Transportation RecordType</label>
        <locationX>782</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDomesticTransportationRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic_Transportation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOceanImportRecordTypeId</name>
        <label>Get Ocean Import RecordTypeId</label>
        <locationX>271</locationX>
        <locationY>949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOceanImportRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecordType1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeIdofQUOTE</name>
        <label>Get RecordTypeId of QUOTE</label>
        <locationX>488</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>InputShipmentScreen</label>
        <locationX>295</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_RecordType_of_QUOTE</targetReference>
        </connector>
        <fields>
            <name>CreateShipment</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 136, 255);&quot;&gt;CREATE NEW SHIPMENT RECORD&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipper</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>clofor_com_cfs__shipper__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Shipper:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>consignee</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>clofor_com_cfs__Cnee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consignee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>notifyparty</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>clofor_com_cfs__Notifyparty__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Notify party:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Shipment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenredirect</name>
        <label>screenredirect</label>
        <locationX>650</locationX>
        <locationY>1777</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>redirectorecord</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>VarFTMSSOtoCreate.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_QUOTE_record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShipmentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFTMSSOtoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__CustomObject1__c</objectType>
    </variables>
</Flow>
