force-app/main/default/flows/Goods_S_O_Create_new_from_F_TMS_S_O.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <dynamicChoiceSets>
        <name>OrigininCI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin__c</picklistField>
        <picklistObject>clofor_com_cfs__SALES_ORDER__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Goods S/O| Create new from F/TMS S/O {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Goods S/O| Create new from F/TMS S/O</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Goods_Sales_Order</name>
        <label>Create Goods Sales Order</label>
        <locationX>573</locationX>
        <locationY>554</locationY>
        <inputAssignments>
            <field>BuyerDetail__c</field>
            <value>
                <elementReference>Buyer_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FTMSSO__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoterm__c</field>
            <value>
                <elementReference>Incoterms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <elementReference>Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sellerdetail__c</field>
            <value>
                <elementReference>Seller_Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CommercialInvoiceNo__c</field>
            <value>
                <elementReference>Invoice_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__ContractID__c</field>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__CustomerCompanyName__c</field>
            <value>
                <elementReference>Buyer.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__InvoiceDate__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__SellerCompany__c</field>
            <value>
                <elementReference>Seller.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__SALES_ORDER__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>575</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Goods_Sales_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>.</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_F_TMS_S_O</name>
        <label>Get F/TMS S/O</label>
        <locationX>577</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>575</locationX>
        <locationY>302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <fields>
            <name>Mess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Please Input Commercial Invoice basic Information!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seller</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>clofor_com_cfs__SALES_ORDER__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seller</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>clofor_com_cfs__SellerCompany__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_F_TMS_S_O.clofor_com_cfs__Field1__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Seller_Detail</name>
            <fieldText>Seller Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Buyer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>clofor_com_cfs__SALES_ORDER__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Buyer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>clofor_com_cfs__CustomerCompanyName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_F_TMS_S_O.clofor_com_cfs__Cnee__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Buyer_Detail</name>
            <fieldText>Buyer Detail</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_No</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Origin</name>
                    <choiceReferences>OrigininCI</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Origin</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Incoterms</name>
                    <dataType>String</dataType>
                    <fieldText>Incoterms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>449</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_F_TMS_S_O</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
