force-app/main/default/flows/Payment_Request_Update_Trx_Plan_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>which_type</name>
        <label>which type</label>
        <locationX>768</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Update_type_Payment_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amountless_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_type_Collection_Plan</targetReference>
            </connector>
            <label>Amount &lt; 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.clofor_com_cfs__RollupFMSUnpaidBalOfBuyingLocal__c}-{!$Record.clofor_com_cfs__RollupFMSUnreceivedBalOfSellLocal__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Payment Request| Update Trx Plan Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Request| Update Trx Plan Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_type_Collection_Plan</name>
        <label>Update type = Collection Plan</label>
        <locationX>879</locationX>
        <locationY>482</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>clofor_com_cfs__AmountLocal__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__TrxPlanType__c</field>
            <value>
                <stringValue>Collection Plan</stringValue>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__PaymentRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_type_Payment_Request</name>
        <label>Update type = Payment Request</label>
        <locationX>658</locationX>
        <locationY>479</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>clofor_com_cfs__AmountLocal__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__TrxPlanType__c</field>
            <value>
                <stringValue>Payment Request</stringValue>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__PaymentRequest__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>which_type</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR (3 AND (4 OR 5)) OR (6 AND (4 OR 5))) AND 7</filterLogic>
        <filters>
            <field>clofor_com_cfs__RollupFMSUnpaidBalOfBuyingLocal__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__RollupFMSUnreceivedBalOfSellLocal__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__TrxPlanType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__RollupFMSUnpaidBalOfBuyingLocal__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__RollupFMSUnreceivedBalOfSellLocal__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__AmountLocal__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125h000001dIlSAAU</stringValue>
            </value>
        </filters>
        <object>clofor_com_cfs__PaymentRequest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
