force-app/main/default/flows/Payment_Request_Cut_AR_AP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Buying_Values</name>
        <label>Add Buying Values</label>
        <locationX>1005</locationX>
        <locationY>1024</locationY>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__SiharaiKakuninzumi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__AMOUNT_PAID_BUYING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_F_TMS_Bill_buying.clofor_com_cfs__BuyInTaxAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__Siharaigaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_F_TMS_Bill_buying.clofor_com_cfs__BuyInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__BankAccountForPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__PaymentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__PlannedProcessingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__actual_payer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__PaymentTo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>offset_or_not_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Group_Buying1</name>
        <label>Add to Group Buying</label>
        <locationX>1340</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>CollectRecordBuying</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_F_TMS_Bill_buying</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_group_selling</name>
        <label>Add to group selling</label>
        <locationX>375</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>CollectRecordSelling</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_F_TMS_Bill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selling_values</name>
        <label>Assign selling values</label>
        <locationX>754</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__NyukinKakuninzumi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__Nyukingaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_F_TMS_Bill.clofor_com_cfs__SellInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__AMOUNT_PAID_SELLING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_F_TMS_Bill.clofor_com_cfs__SellInTaxAmount_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__BankAccountForReceiving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__ReceiptanceDate_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__PlannedProcessingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__Payer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__PaymentTo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>offset_or_not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_type_bank_transfer</name>
        <label>Assign type bank transfer</label>
        <locationX>362</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__BANKTRANSITTYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>口座振込</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_group_selling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_type_bank_transfer_0</name>
        <label>Assign type bank transfer</label>
        <locationX>1213</locationX>
        <locationY>1030</locationY>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__payment_category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>口座振込</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Group_Buying1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_type_offset</name>
        <label>Assign type offset</label>
        <locationX>527</locationX>
        <locationY>1049</locationY>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill.clofor_com_cfs__BANKTRANSITTYPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>相殺</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_group_selling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_type_offset_0</name>
        <label>Assign type offset</label>
        <locationX>1344</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>Get_F_TMS_Bill_buying.clofor_com_cfs__payment_category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>相殺</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Group_Buying1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>offset_or_not</name>
        <label>offset or not</label>
        <locationX>744</locationX>
        <locationY>1161</locationY>
        <defaultConnector>
            <targetReference>Assign_type_bank_transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_offset</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnreceivedBalOfSellLocal__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnpaidBalOfBuyingLocal__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnreceivedBalOfSellUSD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnpaidBalOfBuyingUSD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_type_offset</targetReference>
            </connector>
            <label>Yes offset</label>
        </rules>
    </decisions>
    <decisions>
        <name>offset_or_not_0</name>
        <label>offset or not</label>
        <locationX>995</locationX>
        <locationY>1165</locationY>
        <defaultConnector>
            <targetReference>Assign_type_bank_transfer_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>offsetyes</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnreceivedBalOfSellLocal__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnpaidBalOfBuyingLocal__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnreceivedBalOfSellUSD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupFMSUnpaidBalOfBuyingUSD__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_type_offset_0</targetReference>
            </connector>
            <label>offsetyes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selling_or_buying</name>
        <label>Selling or buying</label>
        <locationX>874</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Loop_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Billing.clofor_com_cfs__FMSBillID__r.clofor_com_cfs__Seikyusaki__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.clofor_com_cfs__PaymentTo__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_F_TMS_Bill</targetReference>
            </connector>
            <label>Selling</label>
        </rules>
        <rules>
            <name>Buying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Billing.clofor_com_cfs__FMSBillID__r.clofor_com_cfs__PaymentTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.clofor_com_cfs__PaymentTo__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_F_TMS_Bill_buying</targetReference>
            </connector>
            <label>Buying</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Payment Request| Cut AR/ AP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Request| Cut AR/ AP</label>
    <loops>
        <name>Loop_Billing</name>
        <label>Loop Billing</label>
        <locationX>885</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_F_TMS_Bill_Trx_Plan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selling_or_buying</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cut_AR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_F_TMS_Bill_Trx_Plan</name>
        <label>Get All F/TMS Bill+ Trx Plan</label>
        <locationX>882</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__PaymentRequestID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__FMSBillPayReq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_F_TMS_Bill</name>
        <label>Get F/TMS Bill</label>
        <locationX>757</locationX>
        <locationY>884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_selling_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Billing.clofor_com_cfs__FMSBillID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_F_TMS_Bill_buying</name>
        <label>Get F/TMS Bill buying</label>
        <locationX>1005</locationX>
        <locationY>861</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Buying_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Billing.clofor_com_cfs__FMSBillID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cut_AP</name>
        <label>Cut AP</label>
        <locationX>1163</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Update_status_Trx_plan</targetReference>
        </connector>
        <inputReference>CollectRecordBuying</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Cut_AR</name>
        <label>Cut AR</label>
        <locationX>1058</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Cut_AP</targetReference>
        </connector>
        <inputReference>CollectRecordSelling</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_Trx_plan</name>
        <label>Update status Trx plan</label>
        <locationX>1269</locationX>
        <locationY>440</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>clofor_com_cfs__PaymentRequestStatus__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__PaymentRequest__c</object>
    </recordUpdates>
    <start>
        <locationX>760</locationX>
        <locationY>50</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Money_TRF__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>clofor_com_cfs__PaymentRequest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1mn</name>
            <connector>
                <targetReference>Get_All_F_TMS_Bill_Trx_Plan</targetReference>
            </connector>
            <label>1mn</label>
            <maxBatchSize>5</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectRecordBuying</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>CollectRecordSelling</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>GroupBuying</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupSelling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndvBilling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
</Flow>
