force-app/main/default/flows/PortalSearchShipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddtoShipmentCollection</name>
        <label>Add to Shipment Collection</label>
        <locationX>1458</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>collectionShipment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleShipment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Containers_found</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BillOfLadingNumber</name>
        <choiceText>Bill Of Lading Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bill Of Lading Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>BookingNumber</name>
        <choiceText>Booking Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Booking Number</stringValue>
        </value>
    </choices>
    <choices>
        <name>ContainerNumber</name>
        <choiceText>Container Number</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Container Number</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckDuplicate</name>
        <label>Check Duplicate</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>AddtoShipmentCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Iscontained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionShipment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>singleShipment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Containers_found</targetReference>
            </connector>
            <label>Is contained?</label>
        </rules>
    </decisions>
    <decisions>
        <name>NumberType</name>
        <label>Number Type</label>
        <locationX>908</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BillofLadingNumberType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BillOfLadingNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetShipmentBillOfLading</targetReference>
            </connector>
            <label>Bill of Lading Number Type</label>
        </rules>
        <rules>
            <name>BookingNumberType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BookingNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetShipmentHouseBooking</targetReference>
            </connector>
            <label>Booking Number Type</label>
        </rules>
        <rules>
            <name>ContainerNumberType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchBy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContainerNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContainer</targetReference>
            </connector>
            <label>Container Number Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultReturnedBillOfLading</name>
        <label>Result Returned? - Bill Of Lading</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>NoRecordFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No-Bill Of Lading</defaultConnectorLabel>
        <rules>
            <name>YesBillOfLading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShipmentBillOfLading</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShipmentTable</targetReference>
            </connector>
            <label>Yes-Bill Of Lading</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultReturnedBookingNumber</name>
        <label>Result Returned? - Booking Number</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>NoRecordFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No-Booking Number</defaultConnectorLabel>
        <rules>
            <name>YesBookingNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShipmentHouseBooking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShipmentTableBooking</targetReference>
            </connector>
            <label>Yes-Booking Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResultReturnedContainerNumber</name>
        <label>Result Returned? - Container Number</label>
        <locationX>1326</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>NoRecordFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No-Container Number</defaultConnectorLabel>
        <rules>
            <name>YesContainerNumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContainer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Containers_found</targetReference>
            </connector>
            <label>Yes-Container Number</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Portal | Search Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Portal | Search Shipment</label>
    <loops>
        <name>Loop_Containers_found</name>
        <label>Loop Containers found</label>
        <locationX>1194</locationX>
        <locationY>638</locationY>
        <collectionReference>GetContainer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetShipmentContainerNumber</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ShipmentTableContainer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContainer</name>
        <label>Get Container</label>
        <locationX>1326</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultReturnedContainerNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__Container_NO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SearchNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__Container_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShipmentBillOfLading</name>
        <label>Get Shipment - Bill Of Lading</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultReturnedBillOfLading</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>clofor_com_cfs__HBL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SearchNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__HAWB__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SearchNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShipmentContainerNumber</name>
        <label>Get Shipment - Container Number</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDuplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Containers_found.clofor_com_cfs__HBL_SHIPMENT__r.Id</elementReference>
            </value>
        </filters>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <outputReference>singleShipment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetShipmentHouseBooking</name>
        <label>Get Shipment - House Booking</label>
        <locationX>622</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResultReturnedBookingNumber</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>clofor_com_cfs__MASTER_BOOKINGNO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SearchNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NoRecordFound</name>
        <label>No Record Found</label>
        <locationX>908</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ShipmentSearch</targetReference>
        </connector>
        <fields>
            <name>NoRecordMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Sorry, there is no shipment that matches your inputted information. Please check again!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Return</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordRedirectBillOfLading</name>
        <label>Record Redirect-Bill Of Lading</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectIdbill</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>resultShipmentTable.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordRedirectBookingNumber</name>
        <label>Record Redirect-Booking Number</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectIdbooking</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>resultShipmentTableBooking.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordRedirectContainerNumber</name>
        <label>Record Redirect-Container Number</label>
        <locationX>1194</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectIdcontainer</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>resultShipmentTableContainer.firstSelectedRow.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShipmentSearch</name>
        <label>Shipment Search</label>
        <locationX>908</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NumberType</targetReference>
        </connector>
        <fields>
            <name>ShipmentSearch_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShipmentSearch_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SearchNumber</name>
                    <dataType>String</dataType>
                    <fieldText>Enter Booking Number / Bill of landing number / Container Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SearchBy</name>
                    <choiceReferences>BillOfLadingNumber</choiceReferences>
                    <choiceReferences>BookingNumber</choiceReferences>
                    <choiceReferences>ContainerNumber</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Search By</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShipmentTable</name>
        <label>Shipment Table</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordRedirectBillOfLading</targetReference>
        </connector>
        <fields>
            <name>resultShipmentTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>clofor_com_cfs__CustomObject1__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Shipment Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetShipmentBillOfLading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bb3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Shipment ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Shipment ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__HBL__c&quot;,&quot;guid&quot;:&quot;column-a0b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;H B/L Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__HAWB__c&quot;,&quot;guid&quot;:&quot;column-34be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;H AWB Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__Master_B_L__c&quot;,&quot;guid&quot;:&quot;column-ff72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;M B/L Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__MAWB__c&quot;,&quot;guid&quot;:&quot;column-2f3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;MAWB Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShipmentTableBooking</name>
        <label>Shipment Table</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordRedirectBookingNumber</targetReference>
        </connector>
        <fields>
            <name>resultShipmentTableBooking</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>clofor_com_cfs__CustomObject1__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Shipment Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetShipmentHouseBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bb3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Shipment ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Shipment ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__HouseBookingNo__c&quot;,&quot;guid&quot;:&quot;column-bdbb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;House Booking No&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;clofor_com_cfs__MASTER_BOOKINGNO__c&quot;,&quot;guid&quot;:&quot;column-d06b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Master Booking No&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShipmentTableContainer</name>
        <label>Shipment Table</label>
        <locationX>1194</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecordRedirectContainerNumber</targetReference>
        </connector>
        <fields>
            <name>resultShipmentTableContainer</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>clofor_com_cfs__CustomObject1__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Shipment Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collectionShipment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bb3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Shipment ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Shipment ID&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ShipmentSearch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionShipment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__CustomObject1__c</objectType>
    </variables>
    <variables>
        <name>singleShipment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__CustomObject1__c</objectType>
    </variables>
</Flow>
