force-app/main/default/flows/Request_from_Customer_Generate_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_to_Variable</name>
        <label>Assign to Variable</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__RequesterCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__PICOfRequesterCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__PICCustomer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__DescriptionOfGoods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__DescriptionOfGoods__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__MeasurementCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__MeasurementCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__GrossWeightKG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__GrossWeightKG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__NetWeightKG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__NETWeightKG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__ETD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__ETD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__ETA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__ETA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__PickupAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__PickupAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__DeliveryAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__RFPRFQID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QUOTE_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.clofor_com_cfs__QuoteName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.clofor_com_cfs__RFPREQName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarQuoteToCreate.RouteRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRequestfromCustomer.RouteRequest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Quote</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Request from Customer| Generate Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request from Customer| Generate Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Quote</name>
        <label>Create new Quote</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>RedirectScreen</targetReference>
        </connector>
        <inputReference>VarQuoteToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_QUOTE_RecordType</name>
        <label>Get QUOTE RecordType</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LogisticsServiceQuote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestfromCustomer</name>
        <label>Get Request from Customer</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QUOTE_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__RFPRFQ__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RedirectScreen</name>
        <label>RedirectScreen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectToQuote</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>VarQuoteToCreate.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestfromCustomer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarQuoteToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__Quote__c</objectType>
    </variables>
</Flow>
