force-app/main/default/flows/Send_Email_and_Notification_when_Request_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CustomerEmail</name>
        <label>CustomerEmail</label>
        <locationX>1054</locationX>
        <locationY>1013</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CustomerBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@afr-solution.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CustomerSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InternalEmail</name>
        <label>InternalEmail</label>
        <locationX>1049</locationX>
        <locationY>715</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notify_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InternalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>GroupEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@afr-solution.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InternalSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Request</name>
        <label>Notify Request</label>
        <locationX>1049</locationX>
        <locationY>873</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CustomerEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>InternalBody_Notif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>InternalSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>GroupIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>MemberCollection</name>
        <label>MemberCollection</label>
        <locationX>1210</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>GroupIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Members.Member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Members.Member.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CustomerLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!$Record.clofor_com_cfs__Customer__r.Id}</expression>
    </formulas>
    <formulas>
        <name>RequestLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_450, FIND(&apos;/services&apos;, $Api.Enterprise_Server_URL_450)) + CASESAFEID({!$Record.Id})</expression>
    </formulas>
    <interviewLabel>Send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email and Notification when Request is created</label>
    <loops>
        <name>Members</name>
        <label>Members</label>
        <locationX>1052</locationX>
        <locationY>524</locationY>
        <collectionReference>Request_Notification_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MemberCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InternalEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Notification_Id</name>
        <label>Notification Id</label>
        <locationX>882</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Notification_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Request_From_Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Request_Notification_Group</name>
        <label>Request Notification Group</label>
        <locationX>883</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0F91s0000009GPZCA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Notification_Id</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>clofor_com_cfs__RFPRFQ__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CustomerBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p style=&quot;margin: 0 0;&quot;&gt;Dear our beloved Customer,&lt;/p&gt;
        &lt;br&gt;
        &lt;p style=&quot;margin: 0 0;&quot;style=&quot;margin: 0 0;&quot;&gt;We got your Request for Quote already and will contact you for more information.&lt;/p&gt;
        &lt;p style=&quot;margin: 0 0;&quot;&gt;Please check again what you requested here: &lt;a href=&quot;{!RequestLink_Exp}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/p&gt;
        &lt;br&gt;
&lt;p style=&quot;margin: 0 0;&quot;&gt;Thanks and best regards,&lt;/p&gt;
&lt;p style=&quot;margin: 0 0;&quot;&gt;Shin Toyo Gate Co., Ltd.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CustomerSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[Shin Toyo Gate] Request For Quote Confirmation!</text>
    </textTemplates>
    <textTemplates>
        <name>InternalBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Team,&lt;/p&gt;&lt;p&gt;We got new Request from Customer:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Request ID: &lt;a href=&quot;{!RequestLink02}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Name}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Customer: {!$Record.Company__c}&lt;/li&gt;&lt;li&gt;Transport Type: {!$Record.Transportation_Type__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Kindly check and follow,&lt;/p&gt;&lt;p&gt;Thanks and best regards&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InternalBody_Notif</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi Team, We got new Request from Customer:
Request ID: {!$Record.Name}
Customer: {!$Record.Company__c}
Transport Type: {!$Record.Transportation_Type__c}
Kindly check and follow,
Thanks and best regards</text>
    </textTemplates>
    <textTemplates>
        <name>InternalSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[New Request for Quote] {!$Record.Name} - {!$Record.Company__c}</text>
    </textTemplates>
    <textTemplates>
        <name>RequestLink02</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.OrgLink}/{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>RequestLink_Exp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.ExperienceSite}/{!$Record.Id}</text>
    </textTemplates>
    <variables>
        <name>GroupEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
