force-app/main/default/flows/Service_Update_Service_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Name_Eng_Null</name>
        <label>Name Eng Null</label>
        <locationX>626</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Name_Local_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Eng_Null_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__VATInvoiceAtPrintENG__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Eng</targetReference>
            </connector>
            <label>Name Eng Null true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Local_Null</name>
        <label>Name Local Null</label>
        <locationX>635</locationX>
        <locationY>591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_Local_Null_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__VATInvoiceAtPrintLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Local</targetReference>
            </connector>
            <label>Name Local Null yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Service | Update Service Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service | Update Service Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Service_Eng</name>
        <label>Update Service Eng</label>
        <locationX>546</locationX>
        <locationY>449</locationY>
        <connector>
            <targetReference>Name_Local_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>clofor_com_cfs__VATInvoiceAtPrintENG__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Local</name>
        <label>Update Service Local</label>
        <locationX>646</locationX>
        <locationY>750</locationY>
        <inputAssignments>
            <field>clofor_com_cfs__VATInvoiceAtPrintLocal__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>508</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Name_Eng_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>clofor_com_cfs__TariffMaster__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
