force-app/main/default/flows/ShipmentSendEmailtoAgentConsigneeaboutstatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendemailtoAgentANIssuedAir</name>
        <label>Send email to Agent-A/N Issued-Air</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>2.Temp 2 (Air-D/O Sent Alert)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>import@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>import@sty-gate.com,{!$Record.clofor_com_cfs__DeliveryAgent__r.CC__c},{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetImportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentANIssuedOcean</name>
        <label>Send email to Agent-A/N Issued-Ocean</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>1.Temp 1 (Arrival Notice Alert)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>import@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>import@sty-gate.com,{!$Record.clofor_com_cfs__DeliveryAgent__r.CC__c},{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetContactDefault.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentCargoDeliveredAir</name>
        <label>Send email to Agent-Cargo Delivered-Air</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>3.Temp 3 (Air-Cargo Delivered Alert)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>import@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>import@sty-gate.com,{!$Record.clofor_com_cfs__DeliveryAgent__r.CC__c},{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetImportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentCargoDeliveredOcean</name>
        <label>Send email to Agent-Cargo Delivered-Ocean</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>3.Temp 3 (Cargo Delivered Alert)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>import@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>import@sty-gate.com,{!$Record.clofor_com_cfs__DeliveryAgent__r.CC__c},{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetImportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentDelayedAir</name>
        <label>Send email to Agent-Delayed-Air</label>
        <locationX>3570</locationX>
        <locationY>1055</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundShipperDelayedAir</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>4.Temp 4 (Vessel delay)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentDelayedOcean</name>
        <label>Send email to Agent-Delayed-Ocean</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundShipperDelayedOcean</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>4.Temp 4 (Vessel delay)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__DeliveryAgent__r.CC_for_EXP__c},{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentDepartedAir</name>
        <label>Send email to Agent-Departed-Air</label>
        <locationX>4538</locationX>
        <locationY>1055</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundShipperDepartedAir</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>6. [Ocean Cargo] Vessel departed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentDepartedOcean</name>
        <label>Send email to Agent-Departed-Ocean</label>
        <locationX>2866</locationX>
        <locationY>1055</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundShipperDepartedOcean</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>6. [Ocean Cargo] Vessel departed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__DeliveryAgent__r.CC_for_EXP__c},{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoAgentDOIssuedOcean</name>
        <label>Send email to Agent-D/O Issued-Ocean</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>2.Temp 2 (Cargo Release Alert)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>import@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>import@sty-gate.com,{!$Record.clofor_com_cfs__DeliveryAgent__r.CC__c},{!$Record.AgentsContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__DeliveryAgent__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetImportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoPICofBrokerDelayedAir</name>
        <label>Send email to PIC of Broker-Delayed-Air</label>
        <locationX>3834</locationX>
        <locationY>1943</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>8.Temp 8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__ExternalSales__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__Custom_Clearance_Broker__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoPICofBrokerDelayedOcean</name>
        <label>Send email to PIC of Broker-Delayed-Ocean</label>
        <locationX>2162</locationX>
        <locationY>1943</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>8.Temp 8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__ExternalSales__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__Custom_Clearance_Broker__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoPICofBrokerDepartedAir</name>
        <label>Send email to PIC of Broker-Departed-Air</label>
        <locationX>4538</locationX>
        <locationY>1943</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>7.Temp 7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__ExternalSales__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__Custom_Clearance_Broker__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoPICofBrokerDepartedOcean</name>
        <label>Send email to PIC of Broker-Departed-Ocean</label>
        <locationX>2866</locationX>
        <locationY>1943</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>7.Temp 7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__ExternalSales__r.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__Custom_Clearance_Broker__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoShipperDelayedAir</name>
        <label>Send email to Shipper-Delayed-Air</label>
        <locationX>3834</locationX>
        <locationY>1391</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundPICofBrokerDelayedAir</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>5.Temp 5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.ShippersContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__shipper__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoShipperDelayedOcean</name>
        <label>Send email to Shipper-Delayed-Ocean</label>
        <locationX>1898</locationX>
        <locationY>1391</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundPICofBrokerDelayedOcean</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>5.Temp 5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__shipper__r.CC_for_EXP__c},{!$Record.ShippersContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__shipper__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoShipperDepartedAir</name>
        <label>Send email to Shipper-Departed-Air</label>
        <locationX>4538</locationX>
        <locationY>1391</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundPICofBrokerDepartedAir</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>9.Temp 9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.ShippersContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__shipper__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SendemailtoShipperDepartedOcean</name>
        <label>Send email to Shipper-Departed-Ocean</label>
        <locationX>2866</locationX>
        <locationY>1391</locationY>
        <actionName>qsyd_InvocableEmailTemplateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailFoundPICofBrokerDepartedOcean</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplate</name>
            <value>
                <stringValue>9.Temp 9</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <stringValue>export@sty-gate.com,{!$Record.clofor_com_cfs__shipper__r.CC_for_EXP__c},{!$Record.ShippersContacts__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>$Record.clofor_com_cfs__shipper__r.Sendto__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>GetExportUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>EmailFoundAgentDelayedAir</name>
        <label>Email Found - Agent Delayed Air</label>
        <locationX>3834</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>EmailFoundShipperDelayedAir</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAgentDelayedAir</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentDelayedAir</targetReference>
            </connector>
            <label>Yes - Agent Delayed Air</label>
        </rules>
        <rules>
            <name>ChangedAgentDelayedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoAgentDelayedAir</targetReference>
            </connector>
            <label>Changed - Agent Delayed Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundAgentDelayedOcean</name>
        <label>Email Found - Agent Delayed Ocean</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>EmailFoundShipperDelayedOcean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAgentDelayedOcean</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoAgentDelayedOcean</targetReference>
            </connector>
            <label>Yes - Agent Delayed Ocean</label>
        </rules>
        <rules>
            <name>ChangedAgentDelayedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentDelayedOcean</targetReference>
            </connector>
            <label>Changed - Agent Delayed Ocean</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundAgentDepartedAir</name>
        <label>Email Found - Agent Departed Air</label>
        <locationX>4538</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>EmailFoundShipperDepartedAir</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAgentDepartedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoAgentDepartedAir</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Agent Departed Air</label>
        </rules>
        <rules>
            <name>ChangedAgentDepartedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentDepartedAir</targetReference>
            </connector>
            <label>Changed - Agent Departed Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundAgentDepartedOcean</name>
        <label>Email Found - Agent Departed Ocean</label>
        <locationX>2866</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>EmailFoundShipperDepartedOcean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAgentDepartedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoAgentDepartedOcean</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Agent Departed Ocean</label>
        </rules>
        <rules>
            <name>ChangedAgentDepartedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentDepartedOcean</targetReference>
            </connector>
            <label>Changed - Agent Departed Ocean</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundPICofBrokerDelayedAir</name>
        <label>Email Found - PIC of Broker Delayed Air</label>
        <locationX>3834</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPICofBrokerDelayedAir</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDelayedAir</targetReference>
            </connector>
            <label>Yes - PIC of Broker Delayed Air</label>
        </rules>
        <rules>
            <name>ChangedPICofBrokerDelayedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDelayedAir</targetReference>
            </connector>
            <label>Changed - PIC of Broker Delayed Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundPICofBrokerDelayedOcean</name>
        <label>Email Found - PIC of Broker Delayed Ocean</label>
        <locationX>2162</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPICofBrokerDelayedOcean</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDelayedOcean</targetReference>
            </connector>
            <label>Yes - PIC of Broker Delayed Ocean</label>
        </rules>
        <rules>
            <name>ChangedPICofBrokerDelayedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDelayedOcean</targetReference>
            </connector>
            <label>Changed - PIC of Broker Delayed Ocean</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundPICofBrokerDepartedAir</name>
        <label>Email Found - PIC of Broker Departed Air</label>
        <locationX>4538</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPICofBrokerDepartedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDepartedAir</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - PIC of Broker Departed Air</label>
        </rules>
        <rules>
            <name>ChangedPICofBrokerDepartedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDepartedAir</targetReference>
            </connector>
            <label>Changed - PIC of Broker Departed Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundPICofBrokerDepartedOcean</name>
        <label>Email Found - PIC of Broker Departed Ocean</label>
        <locationX>2866</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPICofBrokerDepartedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDepartedOcean</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - PIC of Broker Departed Ocean</label>
        </rules>
        <rules>
            <name>ChangedPICofBrokerDepartedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ExternalSales__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoPICofBrokerDepartedOcean</targetReference>
            </connector>
            <label>Changed - PIC of Broker Departed Ocean</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundShipperDelayedAir</name>
        <label>Email Found - Shipper Delayed Air</label>
        <locationX>3834</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>EmailFoundPICofBrokerDelayedAir</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesShipperDelayedAir</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoShipperDelayedAir</targetReference>
            </connector>
            <label>Yes - Shipper Delayed Air</label>
        </rules>
        <rules>
            <name>ChangedShipperDelayedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoShipperDelayedAir</targetReference>
            </connector>
            <label>Changed - Shipper Delayed Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundShipperDelayedOcean</name>
        <label>Email Found - Shipper Delayed Ocean</label>
        <locationX>2162</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>EmailFoundPICofBrokerDelayedOcean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesShipperDelayedOcean</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoShipperDelayedOcean</targetReference>
            </connector>
            <label>Yes - Shipper Delayed Ocean</label>
        </rules>
        <rules>
            <name>ChangedShipperDelayedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoShipperDelayedOcean</targetReference>
            </connector>
            <label>Changed - Shipper Delayed Ocean</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundShipperDepartedAir</name>
        <label>Email Found - Shipper Departed Air</label>
        <locationX>4538</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>EmailFoundPICofBrokerDepartedAir</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesShipperDepartedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoShipperDepartedAir</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Shipper Departed Air</label>
        </rules>
        <rules>
            <name>ChangedShipperDepartedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoShipperDepartedAir</targetReference>
            </connector>
            <label>Changed - Shipper Departed Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailFoundShipperDepartedOcean</name>
        <label>Email Found - Shipper Departed Ocean</label>
        <locationX>2866</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>EmailFoundPICofBrokerDepartedOcean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesShipperDepartedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__r.CC_for_EXP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SendemailtoShipperDepartedOcean</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes - Shipper Departed Ocean</label>
        </rules>
        <rules>
            <name>ChangedShipperDepartedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoShipperDepartedOcean</targetReference>
            </connector>
            <label>Changed - Shipper Departed Ocean</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ocean_or_Air_Import</name>
        <label>Ocean or Air Import</label>
        <locationX>2844</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OceanImport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShipmentstatuscheckOceanImport</targetReference>
            </connector>
            <label>Ocean Import</label>
        </rules>
        <rules>
            <name>AirImport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InAir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShipemntstatuscheckAirImport</targetReference>
            </connector>
            <label>Air Import</label>
        </rules>
        <rules>
            <name>OceanExport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShipemntstatuscheckOceanExport</targetReference>
            </connector>
            <label>Ocean Export</label>
        </rules>
        <rules>
            <name>AirExport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OutAir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShipemntstatuscheckAirExport</targetReference>
            </connector>
            <label>Air Export</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipemntstatuscheckAirExport</name>
        <label>Shipemnt status check-Air Export</label>
        <locationX>4406</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DelayedAir</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailFoundAgentDelayedAir</targetReference>
            </connector>
            <label>Delayed-Air</label>
        </rules>
        <rules>
            <name>DepartedAir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailFoundAgentDepartedAir</targetReference>
            </connector>
            <label>Departed-Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipemntstatuscheckAirImport</name>
        <label>Shipemnt status check-Air Import</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ANIssuedAir</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3. [Im] Released cargo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentsContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentANIssuedAir</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>AN Issued-Air</label>
        </rules>
        <rules>
            <name>CargoDeliveredAir</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6. [Im] Deliveried</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentsContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentCargoDeliveredAir</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cargo Delivered-Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipemntstatuscheckOceanExport</name>
        <label>Shipemnt status check-Ocean Export</label>
        <locationX>2734</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DelayedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Delay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailFoundAgentDelayedOcean</targetReference>
            </connector>
            <label>Delayed-Ocean</label>
        </rules>
        <rules>
            <name>DepartedOcean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vessel_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[Ex] Departed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailFoundAgentDepartedOcean</targetReference>
            </connector>
            <label>Departed-Ocean</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShipmentstatuscheckOceanImport</name>
        <label>Shipment status check-Ocean Import</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ANIssuedOcean</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3. [Im] Sent Arrival Notice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentsContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentANIssuedOcean</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>AN Issued-Ocean</label>
        </rules>
        <rules>
            <name>DOIssuedOcean</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4. [Im] Released cargo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentsContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentDOIssuedOcean</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>DO Issued-Ocean</label>
        </rules>
        <rules>
            <name>CargoDeliveredOcean</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7. [Im] Delivered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentsContacts__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendemailtoAgentCargoDeliveredOcean</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cargo Delivered-Ocean</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipment| Send Email to Agent/Consignee about status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment| Send Email to Agent/Consignee about status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactDefault</name>
        <label>Get Contact Default</label>
        <locationX>2844</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetImportUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0031s000012l70tAAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExportUser</name>
        <label>Get Export User</label>
        <locationX>2844</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ocean_or_Air_Import</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051s000003Lmt0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetImportUser</name>
        <label>Get Import User</label>
        <locationX>2844</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExportUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051s000003Lmt1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2718</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactDefault</targetReference>
        </connector>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
