force-app/main/default/flows/Shipment_Update_BB_Vendor_Handling_Infor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_handling_infor</name>
        <label>Check handling infor</label>
        <locationX>762</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Update_Handling_infor_for_BB_Vendor_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_handling_infor_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__X2nd_Notify_Party__r.HandlingInfo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Handling_infor_for_BB_Vendor</targetReference>
            </connector>
            <label>Check handling infor not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipment| Update BB Vendor Handling Infor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment| Update BB Vendor Handling Infor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Handling_infor_for_BB_Vendor</name>
        <label>Update Handling infor for BB Vendor</label>
        <locationX>636</locationX>
        <locationY>532</locationY>
        <inputAssignments>
            <field>BBVendorHandlingInfo__c</field>
            <value>
                <elementReference>$Record.clofor_com_cfs__X2nd_Notify_Party__r.HandlingInfo__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Handling_infor_for_BB_Vendor_0</name>
        <label>Update Handling infor for BB Vendor</label>
        <locationX>886</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>BBVendorHandlingInfo__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_handling_infor</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>clofor_com_cfs__X2nd_Notify_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BBVendorHandlingInfo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__X2nd_Notify_Party__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
