force-app/main/default/flows/ShipmentSendFaxRecordHistory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendFaxtoFaxNumber</name>
        <label>Send Fax to Fax Number</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <actionName>qsyd_InvocableEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetFaxEmailActivities</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>attachmentIds</name>
            <value>
                <elementReference>AttachmentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bodyHtml</name>
            <value>
                <elementReference>EmailFaxTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bodyPlainText</name>
            <value>
                <elementReference>EmailFaxTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>[Saleforce Auto Email] A fax was sent // Ref: {!GetCurrentShipment.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddress</name>
            <value>
                <stringValue>fax.shintoyogate@sty-gate.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <elementReference>CCEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAddress</name>
            <value>
                <elementReference>FaxEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>GetCurrentShipment.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignCCEmailExport</name>
        <label>Assign CC Email - Export</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CCEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>export@sty-gate.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAttachmentsIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCCEmailImport</name>
        <label>Assign CC Email - Import</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CCEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>import@sty-gate.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAttachmentsIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIdstoSingleVariable</name>
        <label>Assign Ids to Single Variable</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>AttachmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAttachmentsIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttachmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAttachmentsIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ImportorExportShipment</name>
        <label>Import or Export Shipment</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Import</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentShipment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InAir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentShipment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCCEmailImport</targetReference>
            </connector>
            <label>Import</label>
        </rules>
        <rules>
            <name>Export</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentShipment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OutAir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentShipment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCCEmailExport</targetReference>
            </connector>
            <label>Export</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeFormat</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Flow.CurrentDate}))
&amp;&quot;/&quot;&amp;
IF(LEN(TEXT(MONTH({!$Flow.CurrentDate})))=1,&quot;0&quot;&amp;TEXT(MONTH({!$Flow.CurrentDate})),TEXT(MONTH({!$Flow.CurrentDate})))
&amp;&quot;/&quot;&amp;
TEXT(YEAR({!$Flow.CurrentDate}))
&amp;&quot; &quot;&amp;
{!GetCurrentShipment.CurrentTime__c}</expression>
    </formulas>
    <formulas>
        <name>FaxEmail</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!FaxNumberInput}, &quot;-&quot;,&quot;&quot;)&amp;&apos;@fax.clocall.jp&apos;</expression>
    </formulas>
    <interviewLabel>Shipment| Send Fax &amp; Record History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment| Send Fax &amp; Record History</label>
    <loops>
        <name>LoopAttachmentsIds</name>
        <label>Loop Attachments Ids</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <collectionReference>FileUploadImproved.contentVersionIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignIdstoSingleVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendFaxtoFaxNumber</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCurrentShipment</name>
        <label>Get Current Shipment</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ImportorExportShipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFaxEmailActivities</name>
        <label>Get Fax/Email Activities</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateFaxNumbertoFaxEmailActivities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FaxEmailActivity__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateFaxNumbertoFaxEmailActivities</name>
        <label>Update Fax Number to Fax/Email Activities</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFaxEmailActivities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FaxNo__c</field>
            <value>
                <elementReference>FaxNumberInput</elementReference>
            </value>
        </inputAssignments>
        <object>FaxEmailActivity__c</object>
    </recordUpdates>
    <screens>
        <name>SendFaxScreen</name>
        <label>Send Fax Screen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCurrentShipment</targetReference>
        </connector>
        <fields>
            <name>SendFax</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;SEND FAX&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SendFaxScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SendFaxScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShipmentId</name>
                    <fieldText>&lt;p&gt;Shipment ID:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FaxNumber</name>
                    <fieldText>&lt;p&gt;Fax Number&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SendFaxScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentShipmentId</name>
                    <fieldText>&lt;p&gt;{!GetCurrentShipment.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FaxNumberInput</name>
                    <dataType>String</dataType>
                    <fieldText>Fax Number Input</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SendFaxScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SendFaxScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SendFaxScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FileUploadImproved</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_required</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <stringValue>{$Flow.InterviewGuid}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>acceptedFormats</name>
                        <value>
                            <stringValue>.pdf</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SendFaxScreen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SendFaxScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailFaxTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: 16px;&quot;&gt;&lt;em&gt;﻿&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: 16px;&quot;&gt;* This is an auto generated email sent form Saleforce.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: 16px;&quot;&gt;Shipment ID:&amp;nbsp;{!GetCurrentShipment.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: 16px;&quot;&gt;Fax number: {!FaxNumberInput}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: 16px;&quot;&gt;Sent by: {!$User.Username} ({!$User.LastName} {!$User.FirstName})&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Times; font-size: 16px;&quot;&gt;Date time: {!DateTimeFormat}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AttachmentIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CCEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UploadedContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
