force-app/main/default/flows/Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Agent_Test</name>
        <label>Send Email To Agent Test</label>
        <locationX>50</locationX>
        <locationY>653</locationY>
        <actionName>qsyd_InvocableEmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Consignee_s_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bodyPlainText</name>
            <value>
                <stringValue>Em là con mèo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Test Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddress</name>
            <value>
                <elementReference>$Record.AgentsContacts__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetObjectId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>qsyd_InvocableEmailAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Agent_s_Email_CC_not_null</name>
        <label>Agent&apos;s Email CC not null</label>
        <locationX>390</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_s_Email_CC_not_null_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Templates_for_Agents</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Agent&apos;s Email CC not null yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_s_Email_CC_not_null_0</name>
        <label>Agent&apos;s Email CC not null</label>
        <locationX>1182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agent_null_is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__DeliveryAgent__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Air_Email_Templates_for_Agent</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Agent null is false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consignee_s_Contact</name>
        <label>Check Consignee&apos;s Contact</label>
        <locationX>201</locationX>
        <locationY>834</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consignee_s_Contact_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__Cnee__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Templates_for_consignee</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Consignee&apos;s Contact not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consignee_s_Contact_0</name>
        <label>Check Consignee&apos;s Contact</label>
        <locationX>984</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consignee_s_Contacts_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__Cnee__r.CC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Air_Import_Email_Templates_for_consignee</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Consignee&apos;s Contacts not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ocean_or_Air_Import</name>
        <label>Ocean or Air Import</label>
        <locationX>1017</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ocean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_s_Email_CC_not_null</targetReference>
            </connector>
            <label>Ocean</label>
        </rules>
        <rules>
            <name>Air</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InAir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agent_s_Email_CC_not_null_0</targetReference>
            </connector>
            <label>Air</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Air_Email_Templates_for_Agent</name>
        <label>Get Air Email Templates for Agent</label>
        <locationX>984</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Air_Import_Template_for_Agent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Air_Import_Email_Templates_for_consignee</name>
        <label>Get Air Import Email Templates for consignee</label>
        <locationX>852</locationX>
        <locationY>983</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Air_Import_Template_for_Consignee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Templates_for_Agents</name>
        <label>Get Email Templates for Agent</label>
        <locationX>192</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_To_Agent_Test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ocean_Import_Template_for_Agent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Templates_for_consignee</name>
        <label>Get Email Templates for consignee</label>
        <locationX>60</locationX>
        <locationY>983</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ocean_Import_Template_for_Consignee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>891</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Ocean_or_Air_Import</targetReference>
        </connector>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
