force-app/main/default/flows/Transit_Auto_update_field_In_Order_of_Transit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>176</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_In_Order_Number_of_Transit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_First_Value</name>
        <label>Assign First Value</label>
        <locationX>264</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_check_largest_number.clofor_com_cfs__InOrderOfTransit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_check_largest_number</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_Collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Collection</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Transit</collectionReference>
        <connector>
            <targetReference>Loop_check_largest_number</targetReference>
        </connector>
        <limit>3</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Compare_Order_Number</name>
        <label>Compare Order Number</label>
        <locationX>396</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Loop_check_largest_number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Largest_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_check_largest_number.clofor_com_cfs__InOrderOfTransit__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OrderNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Value</targetReference>
            </connector>
            <label>Largest Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_year</name>
        <label>Compare year</label>
        <locationX>550</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Loop_check_largest_number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YearOfRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Order_Number</targetReference>
            </connector>
            <label>Same year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(DATEVALUE({!Loop_check_largest_number.CreatedDate}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YearOfRecord</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>[Transit] Auto update field In Order of Transit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Transit] Auto update field In Order of Transit (ascending)</label>
    <loops>
        <name>Loop_check_largest_number</name>
        <label>Loop check largest number</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_All_Transit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compare_year</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Transit</name>
        <label>Get All Transit</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__ShipmentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__ShipmentOrder__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__Transit__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_In_Order_Number_of_Transit</name>
        <label>Update In Order Number of Transit</label>
        <locationX>176</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>clofor_com_cfs__InOrderOfTransit__c</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Transit</targetReference>
        </connector>
        <object>clofor_com_cfs__Transit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
