force-app/main/default/flows/Transit_Prevent_User_Create_Transit_Wrong_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count_Transit_assign</name>
        <label>Count Transit</label>
        <locationX>457</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>ValueCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Transit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_First</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tick_Flow_Check</name>
        <label>tick Flow Check</label>
        <locationX>1343</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flow_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_First</name>
        <label>Check First</label>
        <locationX>654</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Check_Wrong_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__InOrderOfTransit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Time_1</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last</name>
        <label>Check Last</label>
        <locationX>588</locationX>
        <locationY>1291</locationY>
        <defaultConnector>
            <targetReference>Check_Wrong_Time_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__InOrderOfTransit__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ValueCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Time_End</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Time_1</name>
        <label>Check Time 1</label>
        <locationX>988</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Order_by_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETAAtTransitPort__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Shipment.clofor_com_cfs__ETD__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tick_Flow_Check</targetReference>
            </connector>
            <label>In Order by 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Time_End</name>
        <label>Check Time Last</label>
        <locationX>1008</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Order_Last</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETDAtTransitPort__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Shipment.clofor_com_cfs__ETA__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tick_Flow_Check</targetReference>
            </connector>
            <label>In Order Last</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Wrong_Time</name>
        <label>Check Wrong Time</label>
        <locationX>956</locationX>
        <locationY>1071</locationY>
        <defaultConnector>
            <targetReference>Check_Last</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Time</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETAAtTransitPort__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Transit_pre.clofor_com_cfs__ETDAtTransitPort__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETDAtTransitPort__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Transit_pre.clofor_com_cfs__ETDAtTransitPort__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tick_Flow_Check</targetReference>
            </connector>
            <label>Wrong Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Wrong_Time_0</name>
        <label>Check Wrong Time</label>
        <locationX>956</locationX>
        <locationY>1455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__ETDAtTransitPort__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Transit_next.clofor_com_cfs__ETAAtTransitPort__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tick_Flow_Check</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InOrderofTransitNext</name>
        <dataType>Number</dataType>
        <expression>{!$Record.clofor_com_cfs__InOrderOfTransit__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InOrderOfTransitPre</name>
        <dataType>Number</dataType>
        <expression>{!$Record.clofor_com_cfs__InOrderOfTransit__c} - 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Transit]Prevent User Create Transit Wrong Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Transit]Prevent User Create Transit Wrong Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Shipment</name>
        <label>Get Shipment</label>
        <locationX>776</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transit_pre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__ShipmentOrder__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transit</name>
        <label>Get Transit</label>
        <locationX>545</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Transit_assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__ShipmentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>clofor_com_cfs__Transit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transit_next</name>
        <label>Get Transit +1</label>
        <locationX>776</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__ShipmentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__ShipmentOrder__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__InOrderOfTransit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InOrderofTransitNext</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__Transit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transit_pre</name>
        <label>Get Transit -1</label>
        <locationX>776</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transit_next</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__ShipmentOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__ShipmentOrder__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__InOrderOfTransit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InOrderOfTransitPre</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>clofor_com_cfs__Transit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Shipment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>clofor_com_cfs__ETDAtTransitPort__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>clofor_com_cfs__ETAAtTransitPort__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>clofor_com_cfs__Transit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValueCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
