force-app/main/default/flows/Trx_Plan_Update_AP_after_paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_invidual_to_collection_billing</name>
        <label>Assign invidual to collection billing</label>
        <locationX>736</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>ColBilling</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualBilling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_TRXplanbilling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_individual_billing</name>
        <label>Assign value to individual billing</label>
        <locationX>736</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>IndividualBilling.clofor_com_cfs__Siharaigaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_TRXplanbilling.clofor_com_cfs__FMSBillID__r.clofor_com_cfs__BuyInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualBilling.clofor_com_cfs__AMOUNT_PAID_BUYING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_TRXplanbilling.clofor_com_cfs__FMSBillID__r.clofor_com_cfs__BuyInTaxAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualBilling.clofor_com_cfs__BankAccountForPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPaymentRequest.clofor_com_cfs__DebitAC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualBilling.clofor_com_cfs__BuyDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualBilling.clofor_com_cfs__PaymentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Paid_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualBilling.clofor_com_cfs__SiharaiKakuninzumi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualBilling.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_TRXplanbilling.clofor_com_cfs__FMSBillID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_invidual_to_collection_billing</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Trx Plan| Update AP after paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trx Plan| Update AP after paid</label>
    <loops>
        <name>Loop_through_TRXplanbilling</name>
        <label>Loop through TRXplanbilling</label>
        <locationX>648</locationX>
        <locationY>566</locationY>
        <collectionReference>allTrxPlanBilling</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_to_individual_billing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_billing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_TrxplanBilling</name>
        <label>Get All TrxplanBilling</label>
        <locationX>648</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_TRXplanbilling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>clofor_com_cfs__PaymentRequestID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>clofor_com_cfs__FMSBillPayReq__c</object>
        <outputReference>allTrxPlanBilling</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>clofor_com_cfs__FMSBillID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Trx_Plan</name>
        <label>Get Trx Plan</label>
        <locationX>645</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Ap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>clofor_com_cfs__PaymentRequest__c</object>
        <outputReference>VarPaymentRequest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>clofor_com_cfs__DebitAC__c</queriedFields>
        <queriedFields>clofor_com_cfs__PaymentRequestStatus__c</queriedFields>
        <queriedFields>Update_AP__c</queriedFields>
        <queriedFields>clofor_com_cfs__PlannedProcessingDate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_billing</name>
        <label>Update billing</label>
        <locationX>648</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>update_PR_status</targetReference>
        </connector>
        <inputReference>ColBilling</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_PR_status</name>
        <label>update PR status</label>
        <locationX>648</locationX>
        <locationY>1142</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Update_AP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>clofor_com_cfs__PaymentRequestStatus__c</field>
            <value>
                <stringValue>Payment Processed On Time</stringValue>
            </value>
        </inputAssignments>
        <object>clofor_com_cfs__PaymentRequest__c</object>
    </recordUpdates>
    <screens>
        <name>Update_Ap</name>
        <label>Update Ap</label>
        <locationX>651</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_TrxplanBilling</targetReference>
        </connector>
        <fields>
            <name>Paid_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VarPaymentRequest.clofor_com_cfs__PlannedProcessingDate__c</elementReference>
            </defaultValue>
            <fieldText>Paid Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>522</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Trx_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allTrxPlanBilling</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__FMSBillPayReq__c</objectType>
    </variables>
    <variables>
        <name>ColBilling</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>IndividualBilling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPaymentRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clofor_com_cfs__PaymentRequest__c</objectType>
    </variables>
</Flow>
